RewriteEngine On # 184 
RewriteRule ^contactus/?$ /site/scripts/documents_info.php?documentID=657 [NC,L] # 2 
RewriteRule ^events/?$ http://www.northampton.gov.uk/site/scripts/events_index.php [L] # 3 
RewriteRule ^rss/?$ http://www.northampton.gov.uk/site/scripts/rss_about.php [L] # 12 
RewriteRule ^careers/?$ /site/scripts/documents.php?categoryID=100008 [NC,L] # 21 
RewriteRule ^housing/?$ /site/scripts/documents.php?categoryID=100007 [NC,L] # 27 
RewriteRule ^business/?$ /site/scripts/documents.php?categoryID=100002 [NC,L] # 28 
RewriteRule ^news/?$ http://www.northampton.gov.uk/site/scripts/news_index.php [L] # 32 
RewriteRule ^counciltax/?$ /site/scripts/documents.php?categoryID=200028 [NC,L] # 38 
RewriteRule ^museums/?$ site/scripts/documents.php?categoryID=200070 [L] # 42 
RewriteRule ^recycling/?$ /site/scripts/documents.php?categoryID=200084 [NC,L] # 43 
RewriteRule ^jobs/?$ http://www.northamptonboroughcouncil.com/jobs [L] # 44 
RewriteRule ^tourism/?$ http://www.explorenorthamptonshire.co.uk/exec/144603/12544/ [NC,L] # 46 
RewriteRule ^buildingregulations/?$ /site/scripts/documents_info.php?documentID=128 [NC,L] # 48 
RewriteRule ^foi/?$ /site/scripts/documents_info.php?documentID=302&pageNumber=1 [NC,L] # 49 
RewriteRule ^film/?$ /site/scripts/documents_info.php?documentID=259 [NC,L] # 50 
RewriteRule ^cinema/?$ /site/scripts/documents_info.php?documentID=259 [NC,L] # 51 
RewriteRule ^tcc/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=3400&documentID=338 [L] # 53 
RewriteRule ^leisure/?$ site/scripts/documents.php?categoryID=644 [L] # 56 
RewriteRule ^trilogy/?$ /site/scripts/documents_info.php?documentID=325 [NC,L] # 57 
RewriteRule ^sustainable/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?documentID=406&pageNumber=2 [L] # 58 
RewriteRule ^councillors/?$ http://www.northamptonboroughcouncil.com/councillors/mgMemberIndex.asp?bcr=1 [L] # 61 
RewriteRule ^forums/?$ site/scripts/documents.php?categoryID=200124 [L] # 62 
RewriteRule ^committee/?$ http://www.northamptonboroughcouncil.com/councillors/mgListCommittees.asp?bcr=1 [L] # 63 
RewriteRule ^meetings/?$ http://www.northamptonboroughcouncil.com/councillors/ieDocHome.asp?bcr=1 [L] # 64 
RewriteRule ^calendar/?$ http://www.northamptonboroughcouncil.com/councillors/mgCalendarMonthView.asp?GL=1&bcr=1 [L] # 65 
RewriteRule ^planning/?$ /site/scripts/documents.php?categoryID=200074 [NC,L] # 66 
RewriteRule ^theforum/?$ /site/scripts/documents_info.php?documentID=259 [NC,L] # 67 
RewriteRule ^wrc/?$ http://www.northamptonboroughcouncil.com/wrc [L] # 68 
RewriteRule ^sustainabledevelopment/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=281&documentID=406 [L] # 69 
RewriteRule ^businessrates/?$ /site/scripts/documents.php?categoryID=1010 [NC,L] # 71 
RewriteRule ^nndr/?$ /site/scripts/documents.php?categoryID=1010 [NC,L] # 72 
RewriteRule ^counciltaxbenefit/?$ /site/scripts/documents_info.php?documentID=355 [NC,L] # 73 
RewriteRule ^housingbenefit/?$ /site/scripts/documents_info.php?categoryID=200028&documentID=355 [NC,L] # 74 
RewriteRule ^housingallocations/?$ /site/scripts/documents_info.php?categoryID=200052&documentID=74 [NC,L] # 75 
RewriteRule ^housingassociations/?$ /site/scripts/documents_info.php?categoryID=200053&documentID=243 [NC,L] # 76 
RewriteRule ^mutualexchange/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=3414&documentID=334 [L] # 77 
RewriteRule ^forumcinema/?$ /site/scripts/documents_info.php?documentID=259 [NC,L] # 78 
RewriteRule ^parksandrecreation/?$ /site/scripts/documents.php?categoryID=200073 [NC,L] # 80 
RewriteRule ^parks/?$ /site/scripts/documents.php?categoryID=200073 [NC,L] # 81 
RewriteRule ^landlords/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=946&documentID=398 [L] # 83 
RewriteRule ^consultation/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?documentID=559&pageNumber=1 [L] # 88 
RewriteRule ^realnappy/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?documentID=445&pageNumber=1 [L] # 90 
RewriteRule ^compost/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=3392&documentID=453 [L] # 91 
RewriteRule ^reuse/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=420&documentID=659 [L] # 93 
RewriteRule ^feedback/?$ http://www.northampton.gov.uk/site/scripts/xforms_form.php?formID=18 [L] # 96 
RewriteRule ^guildhall/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=1106&documentID=479 [L] # 98 
RewriteRule ^neighbourhood/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=3116&documentID=478 [L] # 99 
RewriteRule ^scrutiny/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=3116&documentID=464 [L] # 100 
RewriteRule ^annefrank/?$ http://www.northampton.gov.uk/site/scripts/xforms_form.php?formID=32 [L] # 102 
RewriteRule ^briansblog/?$ /site/scripts/documents_info.php?categoryID=200033&documentID=741 [NC,L] # 103 
RewriteRule ^lsp/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?documentID=377&pageNumber=1 [L] # 105 
RewriteRule ^lha/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=946&documentID=595 [L] # 107 
RewriteRule ^dfg/?$ /site/scripts/documents_info.php?documentID=117&pageNumber=4 [NC,L] # 108 
RewriteRule ^sports/?$ /site/scripts/documents.php?categoryID=885 [NC,L] # 110 
RewriteRule ^welcome/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?documentID=613&pageNumber=1 [L] # 111 
RewriteRule ^airquality/?$ /site/scripts/documents_info.php?documentID=270 [NC,L] # 112 
RewriteRule ^conservation/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=372&documentID=108 [L] # 113 
RewriteRule ^planningpolicy/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=372&documentID=216 [L] # 114 
RewriteRule ^jointplanning/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=374&documentID=542 [L] # 115 
RewriteRule ^trees/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=372&documentID=123 [L] # 116 
RewriteRule ^developmentcontrol/?$ /site/scripts/documents.php?categoryID=608 [NC,L] # 117 
RewriteRule ^buildingcontrol/?$ /site/scripts/documents.php?categoryID=200011 [NC,L] # 118 
RewriteRule ^accessawards/?$ /site/scripts/documents_info.php?documentID=204&pageNumber=5 [NC,L] # 119 
RewriteRule ^stjohns/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=4118&documentID=626 [L] # 121 
RewriteRule ^plastic/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?documentID=648 [L] # 123 
RewriteRule ^homechoice/?$ https://homechoice.northampton.gov.uk/ [L] # 124 
RewriteRule ^youthforum/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?categoryID=580&documentID=329 [L] # 125 
RewriteRule ^dpa/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?documentID=175 [L] # 126 
RewriteRule ^banks/?$ http://www.northampton.gov.uk/site/scripts/documents_info.php?documentID=252&pageNumber=8 [L] # 127 
RewriteRule ^dppo/?$ http://www.northampton.gov.uk/site/scripts/xforms_form.php?formID=51 [L] # 128 
RewriteRule ^annefrankfestival/?$ /site/scripts/documents_info.php?documentID=475&pageNumber=3 [NC,L] # 129 
RewriteRule ^gis/?$ /site/scripts/documents.php?categoryID=200126 [NC,L] # 131 
RewriteRule ^budgetconsultation/?$ site/scripts/xforms_form.php?formID=75 [L] # 132 
RewriteRule ^payments/?$ site/scripts/documents_info.php?categoryID=6&documentID=93 [L] # 133 
RewriteRule ^equality/?$ site/scripts/documents_info.php?categoryID=200041&documentID=370 [L] # 134 
RewriteRule ^money4youth/?$ site/scripts/documents_info.php?documentID=329&pageNumber=6 [L] # 135 
RewriteRule ^play/?$ site/scripts/documents_info.php?documentID=640 [L] # 137 
RewriteRule ^worldaidsday/?$ site/scripts/documents_info.php?documentID=820 [L] # 138 
RewriteRule ^stdavidsmuga/?$ site/scripts/documents_info.php?documentID=536&pageNumber=5 [L] # 139 
RewriteRule ^disabledgo/?$ http://www.disabledgo.com/en/org/northampton-borough-council [NC,L] # 140 
RewriteRule ^communitycentres/?$ site/scripts/documents_info.php?categoryID=200021&documentID=409 [L] # 141 
RewriteRule ^partnershipfund/?$ site/scripts/documents_info.php?documentID=821 [L] # 142 
RewriteRule ^lifeline/?$ site/scripts/documents_info.php?categoryID=1627&documentID=241 [L] # 143 
RewriteRule ^greenofficeguide/?$ site/scripts/download_info.php?downloadID=1205&fileID=2512 [NC,L] # 144 
RewriteRule ^languages/?$ site/scripts/documents_info.php?documentID=613 [NC,L] # 145 
RewriteRule ^tennancyagreement/?$ /site/scripts/documents_info.php?documentID=390 [NC,L] # 146 
RewriteRule ^equalitysurvey/?$ /site/scripts/xforms_form.php?formID=64 [NC,L] # 147 
RewriteRule ^customerfeedbackprocedure/?$ site/scripts/documents_info.php?categoryID=353&documentID=467 [NC,L] # 148 
RewriteRule ^littering/?$ /site/scripts/documents_info.php?documentID=294&pageNumber=1 [NC,L] # 150 
RewriteRule ^electoralreview/?$ /site/scripts/documents_info.php?documentID=559&pageNumber=6 [NC,L] # 151 
RewriteRule ^heritageopendays/?$ /site/scripts/documents_info.php?documentID=100 [NC,L] # 152 
RewriteRule ^mapgem/?$ /site/scripts/documents_info.php?categoryID=200126&documentID=669 [NC,L] # 153 
RewriteRule ^sport4youth/?$ site/scripts/documents_info.php?categoryID=885&documentID=668 [NC,L] # 154 
RewriteRule ^webaccessibility/?$ site/scripts/user_settings.php [NC,L] # 155 
RewriteRule ^pensionersforum/?$ /site/scripts/documents_info.php?documentID=327 [NC,L] # 156 
RewriteRule ^youngvoices/?$ /site/scripts/home_info.php?homepageID=163 [NC,L] # 157 
RewriteRule ^housingpfi/?$ /site/scripts/documents_info.php?categoryID=100007&documentID=808 [NC,L] # 161 
RewriteRule ^maps/?$ /site/scripts/documents_info.php?categoryID=200126&documentID=669 [NC,L] # 162 
RewriteRule ^thehousingstrategy/?$ /site/scripts/documents_info.php?documentID=452&pageNumber=2 [NC,L] # 163 
RewriteRule ^signupresult/?$ /site/scripts/documents_info.php?documentID=851&pageNumber=2 [NC,L] # 164 
RewriteRule ^counciltaxbill/?$ /site/scripts/documents_info.php?documentID=92&pageNumber=2 [NC,L] # 165 
RewriteRule ^doitonline/?$ /site/scripts/home_info.php?homepageID=168 [NC,L] # 166 
RewriteRule ^doitonline/?$ /site/scripts/home_info.php?homepageID=168 [NC,L] # 167 
RewriteRule ^doitonline/?$ /site/scripts/home_info.php?homepageID=168 [NC,L] # 168 
RewriteRule ^citizensaccount/?$ /site/scripts/documents_info.php?documentID=92&pageNumber=2 [NC,L] # 169 
RewriteRule ^heartofthecommunity/?$ /site/scripts/documents_info.php?documentID=860 [NC,L] # 170 
RewriteRule ^naps/?$ /site/scripts/documents_info.php?documentID=850&pageNumber=1 [NC,L] # 171 
RewriteRule ^procurement/?$ /site/scripts/documents_info.php?documentID=850&pageNumber=1 [NC,L] # 172 
RewriteRule ^northamptoninbloom/?$ /site/scripts/documents_info.php?categoryID=100006&documentID=861 [NC,L] # 173 
RewriteRule ^ncu/?$ /site/scripts/services_info.php?serviceID=486 [NC,L] # 174 
RewriteRule ^test/?$ /site/scripts/home_info.php?homepageID=169 [NC,L] # 175 
RewriteRule ^elections/?$ /site/scripts/documents_info.php?categoryID=200033&documentID=429 [NC,L] # 176 
RewriteRule ^efect/?$ http://www.efect.idea.gov.uk/efect/login.do [NC,L] # 177 
RewriteRule ^eastfieldandspencerproject/?$ /site/scripts/documents_info.php?categoryID=885&documentID=643 [NC,L] # 178 
RewriteRule ^electionresults/?$ /site/scripts/documents_info.php?documentID=872 [NC,L] # 179 
RewriteRule ^Byelaws/?$ /site/scripts/documents_info.php?documentID=559&pageNumber=2 [NC,L] # 180 
RewriteRule ^councillorcomplaints/?$ /site/scripts/documents_info.php?documentID=622&pageNumber=5 [NC,L] # 181 
RewriteRule ^foodsafety/?$ /site/scripts/documents_info.php?documentID=397&pageNumber=3 [NC,L] # 182 
RewriteRule ^signin/?$ /site/scripts/home_info.php?homepageID=172 [NC,L] # 183 
RewriteRule ^signin/?$ /site/scripts/home_info.php?homepageID=172 [NC,L] # 184 
