/* won't work in opera */

body 	
		{
 		background-color: #FFF; 
 		color: #000;
 		border: 0;
 		margin: 0;
 		padding: 0;
 		text-align: left;
		}
		
#leftcolumn {
		display: none;
		}

img
		{
		display: none;
		}

a img
		{
		display: none;
		}

#randomimage 
		{
		width: 100%;
		}
		
#hide, .hide, .hidekey, #print_footer { display: none; }