
body { font-size:74%; color: #000; margin:0; padding:0;}
body #frame {text-align:center; }
#content { text-align:left; }

/* generic text
---------------*/
html, body, div, a, p, ul, li, input, .myform { font-family:Verdana, Tahoma, Arial, Helvetica, Sans-Serif;}
h1, h2, h3, h4, h5, h6, .colheading, .cap, .category, .thumbtitle,  .date { font-weight:bold; margin:0; padding:0; }

.small { font-size: 0.9em; font-weight: normal; padding:3px 0 3px 0; margin:0;}
.bold { font-weight: bold; }
.first { font-weight: bold; font-size: 1.05em; color: #000;}
.slim { margin:0; padding:3px 0 3px 0; }
.orange { font-weight:bold;}
.underline { border-bottom:1px solid rgb(199,208,217);padding:0 0 10px 0;}

.hello { display:none; }
blockquote { margin-left:40px; font-size: 1.1em; font-style: italic; padding:5px;}

a:link, a:visited, a:hover, a:active { font-weight: bold; text-decoration:none; color:#000;}


/* headings
---------------*/

.nologo {padding:0 0 10px 0; font-size: 2.6em; font-weight:bold; border-bottom:1px solid #000;}

h1, .h_1, #council_name_print {padding:0; font-size: 2em; color:#000; padding-bottom:8px;} /* the page title heading, i.e, Contact us, Register */

h2, .h_2 { margin:8px 0 15px 0;padding:0;font-size: 1.7em; color: #000; }/* control centre  heading */

h3, .h_3 { font-size: 1.2em; font-weight: bold; color: #000; margin:4px 0 4px 0; }/* control centre sub heading */

h4 {margin:6px 0 6px 0;padding:0; font-size: 18px;color: #000;line-height:20px;} /* homepage feature headline */

h5 { font-size: 1.1em; font-weight: bold; color: #000; margin:6px 0 6px 0; } 


/* A WHOLE LOTTA STUFF THAT NEEDS HIDING
----------------------------------------*/
#access_strip, #access_strip_inner, #leftcol, #rightcol, #horiznav, #logo, #signin, #randomimage, #council_name, #mastpic, #keyinfo, #inforow, #dropdownbox, #calendarcontainer, #calendarcontainerinfo, #navbox, .azbox_h, #azhome, .print_hide, .not_visited {display:none;}


/* 
############################################
INNER STYLES FOR STRUCTURAL LAYOUT
############################################
*/


/* -----------------------------------------------------------------------------
Home page
------------------------------------------------------------------------------*/
    
        /* middle feature */
		.featurebox, .newsbox { background:url(images/dotrule.gif) bottom left repeat-x; margin: 0 2px; padding: 0 0 8px 0; clear: both;}
		.featurebox p {margin:0; padding: 0 0 3px 0;}
		.featurebox img { border: 1px solid #c99; width: 70px; width: 70px; padding:1px; background: #fff; margin: 3px 10px 3px 10px; }
		
		/* two columns within a middle feature */
		
		.box_leftcolumn {
			width:212px; float:left; padding:0; margin:0;}
		.box_rightcolumn {
			width:212px; float:right; padding:0; margin:0;}
			


/* Breadcrumb navigation */

		#bc {
			font-size: 0.9em;
			color: #333;
			background:url(images/dotrule.gif) bottom left repeat-x;
			padding:1px 0 6px 0;
			margin:0;
		}

/* -----------------------------------------------------------------------------
Images
------------------------------------------------------------------------------*/
.documentimage  { border: 1px solid #333;  margin:2px 0 10px 10px; float: right;}
.contentimage {float:right; margin: 0 0 3px 10px; }

    
/* -----------------------------------------------------------------------------
Information columns
------------------------------------------------------------------------------*/

        #categorywrap {
			 margin: 0; padding: 0 0 16px 0;}
			 
        #categorywrap ul {list-style: none; margin: 0; padding: 0  0 0 5px;}
        #categorywrap li {background: url(images/bullet_blue.gif) 0px 6px no-repeat; padding: 2px 0 2px  8px; margin:0; }
		
		.info_wrap {
			 background:url(images/dotrule.gif) bottom left repeat-x; margin: 0 0 5px 0; padding: 5px 0 10px 0;  }
		
		.info_left {
			width:48%; float:left; padding:0; margin:0;}
			
		.info_right {
			width:48%; float:right; padding:0; margin:0;}
			
		.extra_info {
			  margin: 0; padding:0 0 10px 0;}
			
		.info_wrap ul, .extra_info ul {list-style: none; margin: 0; padding-left:5px;}
		.info_wrap li, .extra_info li {list-style: none;background: url(images/bullet_blue.gif) 0px 6px no-repeat; padding: 2px 0 2px  8px; margin:0; }
		
        .extra_info_h {font-size: 1.2em; margin:0 0 8px 0; color: #333; font-weight: normal;}
		 
        .docspace {margin: 0 0 14px 0;}
		
		.info_wrap a, #categorywrap a, .extra_info a {font-weight: normal;}

/* Further information */
		
		.furtherinfo { border:1px solid #9cf; border-top: none; padding: 0 8px 5px 8px; margin:0; overflow:hidden;}
		.furtherinfo_h {margin-top:12px; padding:2px 5px; text-align: left; background:#369 ; display: block; color: #fff; font-weight: bold; font-size: 1.1em;}
		.furtherinfo p {margin:0; padding: 6px 0 0 0;}



/* -----------------------------------------------------------------------------
News
------------------------------------------------------------------------------*/
        
        .newsbox p {font-size: 1.1em; margin:0; padding: 0 0 3px 0;}
		.newsbox img { float: left; border: 1px solid #c99; width: 100px; width: 100px; padding:1px; background: #fff; margin: 3px 10px 3px 0; }
		.newsdate { font-size: 0.9em; margin: 0; padding: 2px 0 8px 0; }
		
		.category a { font-weight: bold; color: #333; }
		
		.news_leftcolumn {
			width:49%; float:left; padding-top:5px; margin:0;}
		.news_rightcolumn {
			width:49%; float:right; padding-top:5px; margin:0;}
			
		.news_leftcolumn img, .news_rightcolumn img, .news_column img {
            float: left; border: 1px solid #c99; width: 70px; height: 70px; padding:1px; background: #fff; margin: 3px 10px 3px 0;
        }

		
		.newsimage { float: right; border: 1px solid #999; background: #fff; margin: 5px 0 5px 8px; width: 120px;}
		
        .news_column {
			 float:left; padding-top:5px; margin-right:16px; background:url(images/dotrule.gif) bottom left repeat-x;  }
		
		#rss {padding:16px 0;margin:0; color: #333;}
		#rss img {border:none; padding:0 5px 0 0; margin:0;float: left;}
		
        #poll {
        margin:0 2px; background: #fff; padding: 4px; border-bottom: 1px solid #c99; 
        }
        
         #poll div { padding: 0 0 4px 0;}
        .poll_question { font-size: 1.1em; padding-bottom: 4px; }
        
        .poll_question { font-size: 1.1em; padding-bottom: 4px; }
        .poll_q { font-weight: normal; font-size: 1.5em; color: #333; margin:0; padding: 6px 0;}
        .poll_answer { font-weight: normal; font-size: 1.1em; margin:0; padding: 6px 0 ; 	}
        .divider {
            background:url(images/dotrule.gif) bottom left repeat-x;
            padding: 0 0 7px 25px;
            margin:0 0 5px 0;
        }
		
/* -----------------------------------------------------------------------------
A-Z of services
------------------------------------------------------------------------------*/

		
		/* AZ Services */
		
		#az_index {
			font-size:1.7em; text-align: left;   margin: 12px 0; word-spacing: 0.3em;
		}
		
		#az_footer { font-size:1.2em; margin-top: 12px; text-align: center;}
		
		.aznone {color:#ccc; word-spacing: 0.3em; font-weight: normal;}
		
		.azfirst { font-size: 1.1em; margin:0; padding: 14px 0 0 0;}
		
		#bigletter {
			float:left; font-size:56px; width: 56px; color:#369; font-weight:bold; padding-right:15px; margin:0; }
			
		#contentlist {padding:0; font-size: 1.1em;}
		#contentlist  li {list-style: none; background: url(images/bullet_blue.gif) 0px 8px no-repeat; margin-left: 20px; padding: 3px 0 3px 10px;}
		
		.pid { color: #666; font-style: italic; font-size: 0.9em;}
		
/* Links */

		.linkbox { margin:4px 0 7px 30px; padding:0 0 12px 0; background: url(images/dotrule.gif) bottom left repeat-x; display: block;}
		
/* Top ten list */

        .topten li { font-weight: normal; list-style: decimal; padding:0; line-height: 1.5em;}
        .topten img { width: 11px; }

/* Downloads */

        .download_wrap {background: url(images/dotrule.gif) bottom left repeat-x; margin: 0 0 10px 0; padding: 0 0 10px 15px;}
        .download_indent {margin:0; padding: 5px 0 1px 25px;}
        
        .download_indent p { background: url(images/bullet_blue.gif) 0px 8px no-repeat; padding: 2px 0 2px  8px;margin:0;}
        .download_indent img {border: none; width: 12px;}

/*FAQ styles
----------------*/

        .faq {padding:12px 0; margin:0;  }
        
        .question {margin:0 0 0 15px; padding: 5px 0;}
        .answer {margin:0 0 0 30px; padding: 10px 0;}
        
        .faq_q { font-weight: bold; font-size: 1.1em;  color: #333; }
        .faq_a { font-weight: bold; color: #369; }

/*Top Ten - Frequently requested etc */

        .topten li { font-weight: normal; list-style: decimal; padding:0; line-height: 1.5em;}           		

/* Councillors */
		.councillor_wrap {
			 background:url(images/dotrule.gif) bottom left repeat-x; margin: 0; padding: 10px 0 5px 0;  width: 100%; float: left;}
			 
		.other_councillor_wrap {
			  margin: 0; padding: 8px 0 5px 0;  width: 100%; float: left;}	 
		
		.h_councillor {font-size: 1.3em; margin:0; padding: 3px 0;}
		
		.nolist li {list-style:url(images/bullet_arrow.gif);  padding: 3px 0; font-size: 1.1em;}

		.councillor_image {float:right; margin: 10px 0 3px 12px; background:#fff; padding:1px; border:1px solid #c99;}
		
		.cllrthumb {float:left; margin: 4px 12px 5px 0;  border: 1px solid #c99; padding:1px; width: 55px }

/* Site Map */
		#sitemap {font-size: 1em; color: #369;}

		#sitemap ul {margin:0; padding: 0 0 0 10px; list-style: none; background: url(images/bullet_blue.gif) 0px 10px no-repeat; margin:3px 0 1px 10px; padding:0; }
		#sitemap li {padding: 3px 0 3px 12px;line-height:1.6em;}
		
		.map_h { font-weight: bold; color: #333; }

/* User home */

.remove  { color: #c00; }
.complete  { color: #36c; }


/* Footer */
    #footerinner img {
        border: none;
    }

/* Contact feedback form, register etc*/	
		.jform {
			margin:0;padding:0;
		}
			
		form.jform div {
			clear:both; padding:0.7em 0 0 0;
		}
			
		.jform label {
			float:left; width:42%; text-align:right; padding-top:3px; font-size: 1.1em;
		}
		
		input.jform, textarea.jform { 
			float:left; width: 55%; text-align:left; border:1px solid #333; padding:1px; margin-left: 5px; font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif; font-size: 1.1em;
		}
		
		.selectwidth {
            margin-left: 5px; border:1px solid #333; width: auto !important; max-width:230px;
		}
		
		fieldset { border: 1px solid #c99; padding:8px; margin:18px 0; clear:both; }
		legend { font-size: 1.2em; color:#333; }


		.jform_multipleinput_label {
			float:left; width:42%; text-align:right; padding-top:3px;  font-size: 1.1em;
		}
		.jform_multipleinput {
			float:left; width: auto !important; text-align:right !important; margin-left: 8px;
		}
		
		.jform_dob {
			font-size: 0.9em;
		}
		
		.dataprotection_input {
			float:left; width: 100% !important; text-align:left !important; margin-left: 2px;
		}
		
		form { margin:0;padding:0; }
		
		.field { padding:1px; border: 1px solid #333; }
		
        .datemyform {border:1px solid #333; padding:1px;}

/*form error box*/

		.errorbox {
			vertical-align: middle; height:50px; margin: 14px 0 0 0; padding-left:60px;  color:#333;
			font-weight:bold;font-size:1.1em; background:url(images/error.gif) 0px 5px no-repeat;
		} 
		
		.errorbox p {
			padding-top: 11px; margin:0;
		}
		
		.star, .error {
			color:#900; font-weight:bold; font-size:1.1em;
		}
		
/* xForm progress */
        
		#progressbar { 
			background: #eee; 
			border:1px solid #333;
			height:10px; width:100%; 
			margin:10px 0 6px 0; padding:0;text-align:left;
			width:50%;
		} 
		#progressbar img { 
			height:10px; margin:0; padding:0;
		}
		
		.help { color: #006; font-size:0.9em; padding:0 2px 0 2px; }
		.p { margin:0; padding:15px 0 15px 0; background:url(images/dotrule.gif) bottom left repeat-x;}
		
		blockquote input, blockquote textarea {border: 1px solid #333;}
		
.user_forms { font-size: 1.1em; width: 80%;}
.user_forms td {padding:3px; width: 50%; border: 1px solid #ccc; margin:1px;}
.colthree {  padding:2px; width: 50%;}

        /* search index */
        #checks {text-align: left; line-height:2em;}
        #checks input {display:inline;margin: 0 10px 0 2px; }
        
        #keyword { margin:0; padding: 0; float: left; }
        #keyword label {float:left; width:58%; text-align:right; }
        input#keyword, select#keyword {float:right; width:50%; text-align:left; border:1px solid #333;padding:2px;}
        select#keyword {padding:0; }
        
        .searchfield { float: right; width: 40%; margin-left: 5px; border:1px solid #333; }
        
        .marketing_question {margin:10px 10px 10px 0; padding:0 12px 0 0;}
        
        .checkboxes {line-height:2.5em; display: inline; clear:both; border-bottom:1px solid #ccc; padding-bottom:5px; margin:5px;}
        
        /*advanced search
        -----------------------*/
            #searchcheck {float: left; display: inline; margin:0 0 12px 0;}
            #searchcheck  label {width:130px; text-align: left; display: inline; }
            
            .adv_checks {  margin:3px 5px 0 0; padding: 3px 5px 3px 0;border-bottom:1px solid #ccc;clear: none;}
        
        /* Search results */

		.result {padding: 0 0 8px 0;}
		.relevance {color:#333; font-size: 0.94em; margin:0; padding:0 0 2px 0;}
		.search_highlight { font-weight: bold; color: #333; }
		
/* Planning application table */
		.planningtable {width:100%; border:1px solid #c99; padding:4px;margin:10px 0;}
		.planningtable th {text-align:left; font-weight:bold; font-size: 1.1em;color: #333;}
		.planningtable td {padding:4px 0 4px 0;margin:4px 0 4px 0; vertical-align:top;border-top:1px solid #ccc;}
		.planningtable tfoot {font-size:0.9em; text-align:right; padding-top:10px;}
		.firstcol {width:115px;}
		
		.planning div {padding: 5px 0; font-size: 1.1em;}
		.planning_week_list {border-bottom:1px solid #ccc; padding: 10px 0; margin:  0;}
		.planning_week_list  form {margin-top: 5px;}
		
		.orange {color: #c60;}

/* -----------------------------------------------------------------------------
FORMS, BUTTONS AND MORE FORMS
--------------------------------------------------------------------------------
*/
		form { margin:0;padding:0;  }
		
		.field { padding:1px; border: 1px solid #333; }

.button {
			text-align: center; margin: 0 5px; background: #eee; border: 1px solid #666; font-size: 1.2em; color: #333; font-weight: bold;
		}
		
.rightbutton {
			text-align: center; margin: 0 5px; background: #eee; border: 1px solid #666; font-size: 1.2em; color: #333; font-weight: bold; float: right;
		}
		
.signbutton {
			text-align: center; margin-left: 10px; background: #eee; border: 1px solid #603; font-size: 1em; color: #333; font-weight: bold;
		}
		
.event_button {
			float: left; text-align: center; margin: 10px 5px 10px 0; background: #eee; border: 1px solid #666; font-size: 1.2em; color: #333; font-weight: bold;
		}
		
.planning_rightbutton { 
			clear: both; text-align: center; margin: 12px 0 0 0; background: #eee; border: 1px solid #666; font-size: 1.2em; color: #333; font-weight: bold; float: right;
		}

/* This styles controls the job application  scripts */
/***************************************/

.jobs_display {border-bottom: 1px solid #ccc; margin: 6px 0; padding: 4px 0 6px 0;}

         #jobs_centre {width: 548px; padding:8px 0; margin-left: 90px;}

		.jobs_centre {width: 552px; padding:8px 0; margin-left: 90px;}

		.jobs_display ul {margin:0; padding: 0 0 0 20px; margin:3px 0 5px 30px; padding:0;}
		.jobs_display li {font-size: 1.1em; padding: 4px 0; list-style: url(images/bullet_blue.gif);}
		.jobs_display p {font-size: 0.9em;margin:0; padding: 2px 0;}
		
		input.jobs_form, textarea.jobs_form {float:right; width: 330px; text-align:left; padding:1px; border: 1px solid #333; font-size:1em;}
		
		select.jobs_form {border:1px solid #333; padding:0px;font-size:1em;float:left; margin-left:7px;}
		.field { padding:1px; border: 1px solid #333; }
		.planning_field { padding:1px; border: 1px solid #333; margin-left: 5px;}
		
		.jobs_txtarea_wrap { background:  #eee; padding:0 12px 5px 12px; margin:0; width: 100%; text-align:center;}
		.jobs_txtarea {width: 510px; text-align:left; padding:2px; border: 1px solid #333; background: #fff; margin:0;}
		.jobs_txtarea_wrap label { margin: 0 0 5px 18px; padding:0; text-align:left !important; }
		
		.jobs_date {border:1px solid #330; padding:1px; margin-left: 1px;}
		
		.jobs_form, .jobs_txtarea, .jobs_form textarea { font-size: 1.1em;margin:0; padding:0; font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif; }
		
		.jobs_form select { border: 1px solid #333; background: #fff; margin: 1px 0 4px 11px; width: 330px;}
		
		.jobs_form label {float:left; width:206px; text-align:right; padding:0.3em 0 0 0;}

		form.jobs_form div {padding:0.8em 0 0 0;}
		
				.multipleinput_label {float:left; width:206px; text-align:right; padding: 0.3em 0 0 0; }
				.multipleinput {float:left; width: auto !important; text-align:right !important; margin-left: 8px; }
				
				.datejform {border:1px solid #330; padding:1px; font-size:1em;}

		
/* Step / Progress box */

		.stepbox {background: #eee; border:1px solid #369; padding:6px; margin: 6px 0 10px 0;}

		.stepbox p {text-align: justify; font-size:1.1em; font-weight: bold; margin:0; padding:12px 30px 12px 30px; color: #333;}

		.stepbox_column {width: 345px; margin:0; padding:0; float: left; }

		.stepbox ul { list-style-type: none; margin:0; padding-left: 6px; }
		.stepbox li {margin:0; padding: 6px 0 6px 18px;  font-weight: bold;}
		
		.check_home { color: #036; background-image: url(images/check_home.gif);  background-position: 0 4px; background-repeat: no-repeat; }
		.check_tick { color: #036; background-image: url(images/check_tick.gif);  background-position: 0 7px; background-repeat: no-repeat; }
		.check_arrow { color: #036; background-image: url(images/check_arrow.gif);  background-position: 0 7px; background-repeat: no-repeat; }
		.check_dash { color: #369; background-image: url(images/check_dash.gif);  background-position: 0 7px; background-repeat: no-repeat; }

		
		
/* Save for later box */
		
		.laterbox {
			text-align: left;border: 1px solid #369; background: #eee; padding:6px; margin: 12px 0 10px 0;
		}
		
		.h_laterbox {
			margin:0; padding: 0 0 3px 0; font-size: 1.2em;  font-weight:bold; color:#333;
		}
		
		.laterbox p {
			margin:0; padding: 0;
		}
		
		.laterbox div {
			padding-top: 4px;
		}
		
		.laterbox form {
			margin:0; padding:0;
		}
		
		
.check_column_wrap {clear:both; width:100%; padding: 0 0 22px 0; margin: 0; border-bottom: 1px solid #ccc; }

.check_column_wrap label { float: left; width: auto; margin-left: 20px; padding-top: 12px; white-space: nowrap;}
				
.ref_column { width:272px; float:left; margin:0; padding:0; }
		.ref_column  p {margin:0; padding: 5px 0 0 0;}

.highlight {font-weight: bold; color: #603;}
.gray {color: #666;}
.jobs_heading {border-bottom: 1px solid #ccc; font-size:1.4em;margin:0;padding:10px 0 4px 0; font-weight:bold; color:#333;}
.jobs_subheader {font-size: 1.2em; font-weight: bold; color: #333; margin:0; padding: 6px 0 2px 0;} 
.top_rule {border-top: 1px solid #ccc; margin: 12px 0; padding: 12px 0; }
.form_line {border-bottom: 1px solid #ccc ; clear: both; margin:0; padding:0;}
.jobs_first  {font-size: 1.1em; margin:0; padding: 12px 0 22px 0;}

/* Jobs Buttons */

	.center {
		text-align: center; margin: 20px 0; padding: 10px 0; clear: both;
	}
	.right {
		text-align: right; margin:0; padding: 18px 0 28px 0;
	}

	.proceed_button {
		padding:0 3px; margin:0; color:#fff; font-size: 1.2em; font-weight:bold; border:1px solid #330; background-color:#369;
	}
	.later_button {
		float: right; padding:0 3px; margin:0; color:#000; font-size: 1.1em; font-weight:bold; border:1px solid #333; background-color:#ccc;
	}
	.submit_button {
		padding:0 5px; margin:0; color:#fff; font-size: 1.3em; font-weight:bold; border:1px solid #036; background-color:#369;
	}





/*
########## Elements for hiding from main site #########
*/

   #hide, .hide, .hidekey { display: none; }


