/* COLOUR SEPARATION */

#pagemargin { /* homepage bg image */
    background: url(http://www.northampton.gov.uk/site/images/bgi.gif) top center repeat-y;
}

.rule {/* general dividing rule */
    background: url(http://www.northampton.gov.uk/site/images/bgf.gif) center left repeat-x;
}

.leftrule {/* Left column rule */
    background: url(http://www.northampton.gov.uk/site/images/bgf.gif) center left repeat-x;
}

#brand {/* Top left identity box */
    background: url(http://www.northampton.gov.uk/site/images/01_crest.jpg) 0px 0px no-repeat;
}

#horiznav {/* Background image colour separated */
    background:#4a88d3 url(http://www.northampton.gov.uk/site/images/bgnav.gif) 0px 0px repeat-x;
}

ul#navlist li a:hover {/* Hover state of Main Nav */
    color: #330;
}

#bc {/* Breadcrumb bottom rule */
    background: url(http://www.northampton.gov.uk/site/images/bgf.gif) left bottom repeat-x;
}

#sign {/* sign-in box */
    background: #c5d9f1;
}

#member {/* members box */
    background: #ddd;
}

.navheading {/* Left column navigation headings */
    background: #999;
}

.leftcollink a {/* Left column navigation link divider */
    border-bottom: 1px solid #ccc;
}

/* IMAGE BORDERS*/
#randomimage img {/* Random image border */
    border: 3px solid #fc3;
}

.feat_h1 img {/* Homepage feature img border */
    border: 1px solid #fc3;
}

.rightad img {/* Right hand advert border */
    border: 4px solid #FCF196;
}

.documentimage {/* border */
	border: 1px solid #fc3;
}
                   
.locationmap {/* border */
	border: 1px solid #fc3;
}

#byeditor img {/* border */
	border: 1px solid #fc3;
}

.rightcolumn img, .leftcolumn img {/* border */
    border: 1px solid #fc3;
}

.newsbox img { /* border */
    border: 1px solid #fc3;
}

.cat_news img {/* border */
    border: 1px solid #fc3;
}

.newsimage {/* border */
    border: 1px solid #fc3;
}

.cllrthumb {/* border */
    border: 1px solid #fc3;
}

/* CSS owned by the Northampton Borough Council - Created by Jadu, August 2005. www.jadu.co.uk */ 

html, body{
    margin:0;
    padding:0; 
    text-align:center; 
}

body {
    font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif;
    font-size:73%;  /* Controls the overall font size of the site */
    background: url(http://www.northampton.gov.uk/site/images/bg.gif) top center repeat-y;
}

/*Mozilla div span hack*/
.mozhack {clear:both;}

/* Text only council heading name */

#council_name, #council_name_print {
    display: none;}

/*
############################################
STRUCTURAL LAYOUT - EXTREME CAUTION! 
############################################
*/

#wrapper {
    width:100%;
    margin:0;
    padding:0;
}

#pagewidth {
    width:770px;
    margin-left:auto;
    margin-right:auto;
}

#pagemargin {/* Background image colour separated */
    width:762px;
    float: right;
    text-align:left; 
}

#pagemargin_inner {
    background: url(http://www.northampton.gov.uk/site/images/bgii.gif) top center repeat-y;
    width:762px;
    float: right;
    text-align:left; 
}

#pagemargin_nocols {
    width:762px;
    float: right;
    text-align:left; 
}

#mast {
    float: left;
    background:#fff url(http://www.northampton.gov.uk/site/images/bgm.gif) 5px 0px repeat-y;
    width:762px;
    font-size: 0.9em;border-bottom: 1px solid #bbb;
}

#leftcolumn {
    background: transparent;
    width:276px;
    float:left;
    display: block;
}

#main {
    background: transparent;
    float: right;
    width: 485px;
}

#content {
    float: left;
    width: 286px;
    padding: 13px;
}

#content_inner {
    float: left;
    width: 460px;
    padding: 6px 0 13px 16px;
}

#content_nocols {
    width: 716px;
    padding: 6px 0;
    margin: 0 auto;
    clear: both;
}

#rightcolumn {
    padding-right: 5px;
    width/* */:/**/160px;
    width: /**/160px;
    float: right;
}

#footer {
    background:#fff url(http://www.northampton.gov.uk/site/images/bgr.gif) top left repeat-x;
    clear: both;
    font-size: 0.9em;
    text-align: center;
    padding: 5px 0 12px 0;
    width: 760px;
    margin: 0 auto;
    display: block;
}

#footer img {
    border: none;
}

#footer p {
    margin: 0;
    padding: 4px;
}

/*
############################################
FONTS, LINKS & HEADINGS
############################################
*/

/* Prime links */

a:link, a:visited, a:hover, a:active {font-weight: normal; background:transparent;}

a:link {text-decoration:none; color:#339;}

a:visited {text-decoration: none; color:#669;}

a:hover, a:active {text-decoration: underline; color:#339;}
		
/* Not visited */

.not_visited a:link {color:#339;}

.not_visited a:visited {color:#339;}

.not_visited a:hover, a:active {color:#339;}
		
/* Links that are not blue */

.txtlink a:link {color:#000; font-weight: normal; }
    
.txtlink a:visited {color:#333;font-weight: normal;}
    
.txtlink a:hover {color:#000;font-weight: normal;}
        
.txtlink a:active {color:#000;font-weight: normal;}

 /* Headings */
 
h1 {
    font-size: 1.9em;
    padding: .6em 0 .5em 0;
    margin:0;
    color:#333;
    font-weight: normal;
}
 
h2 {
    font-size: 1.6em;
    margin:10px 0 10px 0;
    color:#333;
    font-weight: bold;
}

h3 {
    font-size: 1.4em;
    margin:0;
    padding: .7em 0 .2em 0;
    color:#333;
    font-weight: normal;
} 
 
.h_2 {
    font-size: 1.4em;
    margin: .4em 0;
} 

.h_3 {
    font-size: 1.2em;
    margin:0;
    padding:4px 0;
} 

.h_2 a:link, .h_3 a:link {font-weight: bold;}
.h_2 a:visited, .h_3 a:visited {font-weight: bold;}
.h_2 a:hover, .h_2 a:active, .h_3 a:hover, .h_3 a:active {font-weight: bold;}

.first {
    font-size: 1.1em;
}

.slim {
    margin:0; 
    padding: 2px 0; }

.space {
    clear: both; margin:0; padding: 6px 0;}

.b {
    font-weight: bold;
    color: #333;
}
    
b {
    color: #333;
}

.small {
	font-size: 0.9em;
}
 
.rule {/* Background image colour separated */
    padding: 10px 0;
}

/*
############################################
MAST & HORIZONTAL NAVIGATION &  BREADCRUMB
############################################
*/

#brand {/* Background image colour separated */
    border: 1px solid #fff;
    border-top: none;
    height: 115px;
    width: 275px;
    text-align: center;
	float: left;
}

#brand img {
    border: none;
    margin-top: 74px;
}

#search {
    padding: 14px 0 0 13px;
    float: left;
    width: 465px;
    color: #666;
}

#search form {
    float: left;
    margin:0;
    padding:0;
}
#search p {
    clear: both;
    margin:0;
    padding:10px 0;
}

#search label {
    display: none;
}

/* horizontal navigation */

#horiznav {/* Background image colour separated */
    clear: both;
    width:760px;
    float: left;
    margin: 0 auto;
    text-align:center;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

ul#navlist {
    list-style:none;
    padding:0;
    margin:0;
    font-size: 1.1em;
}

ul#navlist li {
    margin: 0;
    padding: 0;
    float: left;
}

ul#navlist li a {
    float: left;
    display: block;
    padding: 9px 5px 7px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

#horiznav>ul#navlist li a {
    width: auto;
}

ul#navlist li a:hover {/* Colour separated */
    background: transparent;
    text-decoration: underline;
    color: #fff;
}

/* for the active state tab */
#home #horiznav #t1 a, #services #horiznav #t2 a, #news #horiznav #t3 a, #information #horiznav #t4 a, #recruit #horiznav #t5 a, #events #horiznav #t6 a,
#faqs #horiznav #t7 a, #links #horiznav #t8 a, #contact #horiznav #t9 a, #register #horiznav #t10 a { font-style: italic; color: #ccc; font-weight: normal; text-decoration: none;}

#bc {/* Background rule image colour separated */
    margin:0;
    padding:0 0 5px 0;
    color: #333;
    font-size: .9em;
    line-height: 1.3em;
}

#bc a:link {color:#339;}

#bc a:visited {color:#339;}

#bc a:hover, a:active {color:#339;}

.bcb {
    font-weight: bold;
    font-size: 1.1em;}

/*
############################################
THE LEFT COLUMN
############################################
*/

#sign {/* Colour separated */
    margin:1px 0 0 1px;
    padding: 6px 6px 10px 6px;
    color: #666;
    /* */:/**/height:1%;
}

#member {/* Colour separated */
    margin:1px 0 0 1px;
    padding: 6px 6px 10px 6px;
    color: #333;
    /* */:/**/height:1%;
}

#member p {
	margin:0;
	padding: 2px 0;
}

#hello {
	font-size: 1.1em;
    font-weight: bold;
    padding: 3px 0;
}

.citizen {
	font-style: italic;
}

.colhead {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

#leftsignin {
    margin:0;
    padding:0;
}

#leftsignin div{
    float: left;
    padding: 6px 0 0 5px;
}

#leftsignin label {
    display: block;
    color: #333;
    padding:0 0 4px 0;
    font-weight: bold;
    font-size: 0.9em;
}

#leftsignin span {
    font-size: 0.9em;
}

.sign_failed {
    font-weight: bold;
    color: #333;
    padding: 5px 0;
}

/* The LGCL navigation and widget navigation */
.navheading {/* Colour separated */
    font-size: 1.1em;
    color: #fff;
    font-weight: normal;
    padding: 2px 2px 2px 6px;
    margin: 1px 0 1px 1px;
    display: block;
}

.navul ul {
    width: 138px;
    float: left;
    padding:0;
    display: block;
    list-style-type:none;
    margin:1px 0 0 0;
}
.navul {
    display: block;
    float: left;
    width: 138px;
}
.leftcollink a {/* Colour separated */
    font-size: 0.9em; font-weight: normal; display: block; text-decoration: none; padding:3px 3px 3px 4px; margin: 0 1px 0 1px;
}
.leftcollink a:link {
    background: #fff; color: #000; font-weight: normal; text-decoration: none;
}
.leftcollink a:visited {
    background: #fff; color: #000; font-weight: normal; text-decoration: none;
}
.leftcollink a:hover {
    background: #ffc; color: #000; font-weight: normal; text-decoration: none;
}
.leftcollink a:active {
    background: #fff; color: #000; font-weight: normal; text-decoration: none;
}

/* A to Z and below */

#col_inner {
    padding: 0 2px 2px 6px;
}

.colheading {
    font-size:1.1em;
    font-weight: bold;
    margin:0;
    padding: 5px 0;
}

.colheading a:link, .colheading a:visited {
    font-weight: bold;
    text-decoration: none;
}

.colheading a:hover, .colheading a:active {
    font-weight: bold;
    text-decoration: underline;
}

.leftrule {/* Colour separated */
    padding: 4px 0;
}

#col_inner p {
    font-size: .9em;
    margin:0;
    padding:0;
}

#az {
    margin:0;
    padding: 6px 0 4px 0;
}

#az a {
    font-weight:bold;
    padding:0 2px;
    font-size: 1.2em;
}

.aznone {
    padding:0 2px;
    color: #999;
    font-weight:bold;
    font-size: 1.2em;
}

#jobs, #new {
    margin:0;
    padding: 0 0 4px 0;
    font-size: .9em;
}

#jobs ul, #new ul {
    margin: 0;
    padding:0;
    display: block;
    list-style-type:none;
}

#jobs li, #new li {
    background: url(http://www.northampton.gov.uk/site/images/bllt.gif) 0px 3px no-repeat;
    margin: 0;
    padding:0 0 4px 10px;
    display: block;
    list-style-type:none;
}

#jobs p {
    font-size: .9em;
    margin:0;
    padding:5px 0 0 10px;
    color: #333;
}

/*
############################################
THE HOMEPAGE
############################################
*/

#randomimage {
    padding: 0 0 4px 0;
}

#randomimage img {/* Colour separated */
    padding: 1px;
    background: #fff;
}

.feat_wrap {
	clear: both;
	background: url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
    padding: 4px 0;
    margin: 4px 0;
}


.feat_h1 {
    padding: 8px 0 6px 0;
}

.feat_h1 a:link, .feat_h1 a:visited {
    font-size: 1.13em;
    font-weight: bold;
    text-decoration: none;
}

.feat_h1 a:hover, .feat_h1 a:active {
    font-size: 1.13em;
    font-weight: bold;
    text-decoration: underline;
}

.feat_h1 img {/* Colour separated */
    padding: 1px;
    margin: 10px 6px 4px 6px;
    width: 55px;
    height: 55px;
}

.feat_h2 {
    padding: 0 0 5px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

.feat_h3 a, .feat_h3 a:hover {
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

#rightcolumn p {
    margin:0;
    padding:5px 0;
    font-size: .9em;
}

.txtlink {
    margin:0;
    padding:0 0 8px 0;
}

#poll div {
    margin:0;
    padding:0 0 6px 20px;
}

/* Homepage right column */

.rightad {
    margin: 2px 0 6px 0;
    width: 142px;
}

.rightad img {/* Colour separated */
    margin: 3px 0;
    width: 142px;
}

/*
############################################
Images
############################################
*/

.contentimage {
	float:right;
	margin: 0 0 3px 10px;
	width: 130px;
}

.documentimage {/* Colour separated */
	margin:0 0 3px 10px;
	padding:1px; float: right;
}
                   
.locationmap {/* Colour separated */
	width: 435px;
	margin: 0 0 20px 0;
	padding:1px;
}

/*
############################################
MAIN INFO BOXES
############################################
*/

#byeditor {
	margin: 0;
	padding:10px 0 0 0;
}

#byeditor img {/* Colour separated */
	margin: 8px;
	padding:1px;
}

#byeditor ul li {
    list-style-image: url(http://www.northampton.gov.uk/site/images/disc.gif);
    padding:4px 0;
    margin:0;
    background: none;
}

#byeditor ol li {
    background: none;
    list-style: decimal;
    padding:4px 0;
    margin:0;
}

/* Categories Index page lists */

.cate_wrap {
    position: relative;
    background:url(http://www.northampton.gov.uk/site/images/bgf.gif) bottom left repeat-x;
    margin: 0.5em 0 1em 0;
    padding: 0.3em 0 1em 0;
}

.cate_h {
    font-size: 1.2em;
    margin:0;
    padding:0 0 0.7em 0;
}

.cate_wrap p {
    margin:0 0 5px 0;
    padding:4px 0 2px 10px;
    background: url(http://www.northampton.gov.uk/site/images/bllt.gif) 0px 8px no-repeat;
}

.cate_h a:link {font-weight: bold; color: #333;}
.cate_h a:visited {font-weight: bold;}
.cate_h a:hover, .cate_h a:active {font-weight: bold;}

/* Categories in... */
.categories_h {
    margin:0;
    padding:0 0 5px 0;
    font-size: 1.2em;
    color: #333;
}

#categories_in {
    position: relative;
    background:url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
    margin: 0.5em 0 1em 0;
    padding: 1em 0 2em 0;
}

.cate_wrap li, #categories_in li, .info_on li {
    list-style: none;
    margin:0;
    padding:3px 0 3px 22px;
    background: url(http://www.northampton.gov.uk/site/images/disc.gif) 10px 6px no-repeat;
}

.info_left {
    width:47%;
    float:left;
    padding:0;
    margin:0;
}
    
.info_right {
    width:47%;
    float:right;
    padding:0;
    margin:0;
}
    
/* Information on... */
.info_h {
    margin:0;
    padding: 0 0 5px 0;
    font-size: 1.2em;
    color: #333;
}

.info_on {
    position: relative;
    background:url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
    margin: 0.5em 0 2em 0;
    padding: 1em 0 2em 0;
    clear: both;
}

/*Page navigation box */
#navbox {
	margin:1.5em 0 2em 0;
    padding:0;
}

#navbox div {
    margin:0 0 4px 0;
    padding:5px 0 7px 0;
    font-size: 1.1em;
    color: #333;
}

#navbox ul {
	margin:2px 0 0 12px;
    padding:0;
}

#navbox li{
    padding:2px 0;
    list-style: none;
}

/*Related Info box */
#related {
    position: relative;
    margin:1.5em 0 2em 0;
    padding: 0;
    line-height: 2.4em;
}

#related ul {
    list-style: none;
    margin:0 0 0 4px;
    padding:0;
}

#related li {
    display:inline;
    list-style: none;
    padding:4px 10px 4px 18px;
}

.relfaq {background:url(http://www.northampton.gov.uk/site/images/f_faq.gif) 0px 4px no-repeat !important;}
.relform {background:url(http://www.northampton.gov.uk/site/images/f_form.gif)  0px 4px no-repeat !important;}
.reldownload {background:url(http://www.northampton.gov.uk/site/images/f_download.gif)  0px 4px no-repeat !important;}
.relfeedback {background:url(http://www.northampton.gov.uk/site/images/f_feedback.gif)  0px 4px no-repeat !important;}
.reldocs {background:url(http://www.northampton.gov.uk/site/images/f_docs.gif)  0px 4px no-repeat !important;}
.relprint {background:url(http://www.northampton.gov.uk/site/images/f_print.gif)  0px 4px no-repeat !important;}
.relemail {background:url(http://www.northampton.gov.uk/site/images/f_email.gif)  0px 4px no-repeat !important;}   

/* Further information box */
.infobox_h  {
    background: #ECF4FB url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
    margin:0 0 4px 0;
    padding:5px 0 7px 0;
    font-size: 1.1em;
}

.infobox {
    clear: both;
    position: relative;
    margin: 1.5em 0 2em 0;
    padding:0 8px 8px 8px;
    border: 1px dotted #ccc;
    background: #ECF4FB;
    color: #000;
}

.infobox p {
    margin:0;
    padding:8px 0 5px 10px;
    background: url(http://www.northampton.gov.uk/site/images/bllt.gif) 0px 12px no-repeat;
}

/* Contact the council box */
.contactbox {
    clear: both;
    position: relative;
    margin:1.5em 0 2em 0;
    padding:0;
    color: #333;
}

.contact_h {
    background:url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
    margin:0 0 4px 0;
    padding:5px 0 7px 0;
    font-size: 1.1em;
}

.contactbox p {
    margin:0;
    padding:3px 0 1px 10px;
    background: url(http://www.northampton.gov.uk/site/images/bllt.gif) 0px 6px no-repeat;
}


/* Two columns */
.news_wrap {
    clear: both;
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    background: url(http://www.northampton.gov.uk/site/images/bgf.gif) bottom left repeat-x;
}

.col_wrap {
    clear: both;
    float: left;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    background: url(http://www.northampton.gov.uk/site/images/bgf.gif) bottom left repeat-x;
}

.col_wrap ul {
    margin: 0;
    padding: 0;
}

.col_wrapii {
    clear: both;
    margin: 0 0 5px 0;
    padding: 5px 0;
}

.news_wrap p {
    margin: 0;
    padding: 4px 0;
}

.col_wrap p {
    margin: 0;
    padding: 4px 0;
}

.col_wrapii p {
    margin: 0;
    padding: 4px 0;
}

.leftcolumn {
    width:47%; float:left; padding:0; margin:0;}
    
.rightcolumn {
    width:47%; float:right; padding:0; margin:0;}

.rightcolumn img, .leftcolumn img {/* Colour separated */
    float: right;
    padding: 1px;
    margin: 3px 0 5px 8px;
    width: 60px
}

/*
############################################
AZ
############################################
*/

.bigletter {
    float:left;
    font-size:46px;
    width: 50px;
    color:#666;
    font-weight:bold;
    padding-right:15px;
    margin:0; line-height: 38px;
}
			
#az_index {
    font-size:1.5em;
    text-align: left;
    margin: 18px 0;
    word-spacing: 0.3em;
    float:left;
}

#az_index a {
    font-weight:bold;
    margin:0;
    padding:0;
    line-height: 1.1em;
}

.aznone_index {
    font-weight:bold;
    color:#999;
    word-spacing: 0.2em;
    font-weight: bold;
}

#contentlist {
    padding:0;
    font-size: 1.05em;
}

#contentlist li {
    list-style-image: url(http://www.northampton.gov.uk/site/images/disc.gif);
    padding:4px 0;
    margin:0;
    background: none;
}

#contentlist ol li {
    background: none;
    list-style: decimal;
    padding:4px 0;
    margin:0;
}

.pid {
    color: #666;
    font-style: italic;
    font-size: 0.9em;
}
    
/*
############################################
LATEST NEWS
############################################
*/
.newsbox {
    background: url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
    margin: 0 0 5px 0;
    padding: 8px 0;
}

.newsbox p {
    margin: 0;
    padding: 3px 0;
}

.newsbox img { /* Colour separated */
    float: right;
    padding: 1px;
    margin: 10px 0 5px 12px;
    width: 100px;
}

.cat_news {
    margin: 0 0 5px 0;
    padding: 8px 0;
}

.cat_news p {
    margin: 0;
    padding: 2px 0;
}

.cat_news img {/* Colour separated */
    float: left;
    padding: 1px;
    margin: 5px 10px 8px 0;
    width: 55px;
}

.newsdate {
    font-size: .9em;
    margin: 0;
    padding: 0 0 5px 0;
    color: #666;
}

#rss {
    clear: both;
    padding:20px 0 5px 0;
    margin:0;
    color: #333;
}

#rss img {
    border:none;
    padding:0 5px 0 0;
    margin:0;
    float: left;
}
 
.dropbox_h {
    float: left;
    margin:0;
    padding:15px 0 0 0;
    font-size: 1.2em;
    color: #333;
}

.dropdownwidth {
    width:340px;
    border:1px solid #333;
}

.dropdownwidth option {
    font-size: 0.95em;
    margin:0;
}

.margin {
    clear: both;
    margin: 6px 0;
}

.newsimage {/* Colour separated */
    float: right;
    padding: 1px;
    margin: 10px 0 8px 12px;
    width: 140px;
}

/*
############################################
EVENTS
############################################
*/

.h_event {font-size: 1.3em; color: #333; margin:10px 0 6px 0; padding: 4px 0 4px 0; }

.event_previous {float: left;}
.event_info { margin:  0 0 10px 0; padding: 4px; font-size: 1.1em;background: #FCFCE5; border:1px solid #cc9;}

#calendarcontainer, #calendarcontainerinfo {border: 1px solid #ccc;width:180px; padding:1px; text-align:justify;}
#calendarcontainer {margin:0 0 10px 8px; float:right;}
#calendarcontainerinfo {margin:0 10px 10px 0; float:left;}

#calendar {padding:0;margin:0;font-size:10px;text-align:center;}

#calendar th { padding:1px; color:#333; width:30px;}
#calendar td {border: 1px solid #ccc; padding:0; height:14px;}
#calendar tr {padding:0px; margin:0;}

#calendar .month {font-size: 11px; width:100%; color: #333; border: 1px solid #ddd;}

.week a:link {background:#ff6;  color:#000; display:block;padding:0px;text-decoration:none;}
.week a:visited {background:#ffc;  color:#666; display:block;padding:0px;text-decoration:none;}
.week a:hover {background:#eee; color:#000; padding:0px; text-decoration: none;display:block;}
.eventspace {margin:0;padding:4px 0 5px 0;}

.eventform {float: left: width: auto; display: inline; padding-bottom: 20px; }
.smallcal { font-size: 0.9em; margin:0; padding:3px; }

/*
############################################
COUNCILLORS
############################################
*/
.councillor_wrap {
    background:url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
    margin: 0 0 0 25px;
    padding: 10px 0 5px 0;
    width: 85%;
    float: left;
    clear: both;
}
		
.h_councillor {
    font-size: 1.3em; margin:0; padding: 3px 0;}
		
.nolist li {
    list-style:url(http://www.northampton.gov.uk/site/images/disc.gif);  padding: 3px 0; font-size: 1.1em;}

.councillor_image {
    float:right; margin: 10px 0 3px 12px; background:#fff; padding:1px; border:1px solid #999;}
		
.cllrthumb {/* Colour separated */
    float:right;
	margin: 0 0 20px 0;
	padding:1px; width: 60px;
}

/*
############################################
FAQs
############################################
*/

.faq {
	padding:2em 0;
	margin:0;
}

.question {
	margin:0 0 0 15px;
	padding: 5px 0;
}

.answer {
	margin:0 0 0 30px;
	padding: 10px 0;
}

.faq_q {
	font-weight: bold;
	font-size: 1.1em;
	color: #333;
}
.faq_a {
	font-style: italic;
	color: #333;
	padding: 1px 2px;
	font-weight: bold;
}

/*
############################################
SITE MAP
############################################
*/

#sitemap {
    font-size: 1em;
    color: #000;
}

#sitemap div {margin: 10px 0;}

#sitemap ul {
    list-style: none;
    background: url(http://www.northampton.gov.uk/site/images/disc.gif) 0px 9px no-repeat;
    margin:2px 0 2px 8px;
    padding:0;
}
    
#sitemap li {
    padding: 3px 0 3px 10px;
    line-height:1.6em;
}

.linkbox {
	margin:10px 10px 0 20px;
	padding:0 0 12px 0;
	background: url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
	display: block;
}

.linkbox p {
	margin:0;
	padding:5px 0;
}

/* Top ten list */
.topten {	
	margin:1.5em 0 2em 0;
    padding:0;
}

.topten li {
    font-weight: normal;
    list-style: decimal;
    padding:0;
    line-height: 1.5em;
}

/*
############################################
DOWNLOADS
############################################
*/
.download_wrap {
    background: url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x; margin: 0 0 10px 0; padding: 0 0 10px 15px;
}
    
.download_indent {
    margin:0; padding: 2px 0 10px 20px;
}
        
.download_indent p {
    background: url(http://www.northampton.gov.uk/site/images/disc.gif) 0px 9px no-repeat; padding: 5px 0 0px  12px; margin:0;
}

.download_indent img {
    border: none; width: 12px;
}

/*
############################################
OPINION POLL
############################################
*/
.poll_question { font-size: 1em; padding-bottom: 4px;}
.poll_q { font-weight: normal; font-size: 1.3em; color: #333; margin:0; padding: 6px 0;}
.poll_answer { font-weight: normal; font-size: 1.1em; margin:0; padding: 6px 0 ;}


/*
############################################
ADVANCED SEARCH
############################################
*/
#searchcheck {
	float: left;
	display: inline;
	margin:0;
	padding:0;
}

#searchcheck label {
	text-align: left;
	display: inline;
	width: auto;
}

.adv_checks {
	margin:5px 10px 0 0;
	padding: 3px 0 2px 0;
	border-bottom:1px solid #ccc;
	clear: none;
}
       
/* Search results */
.result {
	padding: 12px 0;
}

.relevance {
	color:#333;
	font-size: 0.94em;
	margin:0;
	padding:0 0 2px 0;
}
	
.search_highlight {
	background: #ff9;
	padding: 1px 2px;
}

/*
############################################
Google search results
############################################
*/

#google_search label {
	display: none;
}
        
.googstrip{  
	border: 1px solid #ccc;
	margin: 4px 0 12px 0;
	padding: 8px;
	background-color: #eee;
}
        
.googresult {
	margin-top: 22px;
	overflow: hidden;
	padding:0 10px;
}
        
.googresult p {
	margin:0;
	padding:4px 0 0 0;
	font-size: 0.94em;
	line-height: 1.3em;
}
        
.url {
	color: #080;
}
        
.cache a:link, .cache a:visited {
	color: #777; font-weight: normal;
}

.cache a:hover, .cache a:active {
	color: #777;
	font-weight: normal;
	text-decoration: underline;
}
        
.g1 a {
	font-size: 1.3em;
}

#pagenav {
	text-align: center;
	margin: 32px 0;
	font-size: 1.1em;
	line-height: 1.3em;
}

.on_page {
	font-weight: bold;
	color: #333;
}
        
.googfooter{  
	padding: 12px;
	background-color: #eee;
	border: 1px solid #ccc;
}

.google_logo {
	margin-left: 130px;
	padding: 15px 0;
}

/*
############################################
XFORMS
############################################
*/

#xform_signin { 
    width: 100%;
    clear: both;
    padding: 15px 0 0 0;
    background: url(http://www.northampton.gov.uk/site/images/bgr.gif) top left repeat-x;
}

#xform_signin div {
	padding:5px 0;
}

#xform_signin label {
	font-size: 1.1em;
	padding:0 0 0 5px;
}

.help {
	color: #006;
	font-size:0.9em;
	padding:0 2px 0 2px;
}

.p { margin:0; padding:15px 0 15px 0; background:url(http://www.northampton.gov.uk/site/images/dotrule.gif) bottom left repeat-x;}

#progressbar {
    background: #eee; 
    border:1px solid #666;
    height:10px; width:100%; 
    margin:10px 0 6px 0; padding:0;text-align:left;
    width:45%;
} 
#progressbar img { 
    height:10px;
    margin:0;
    padding:0;
}

blockquote input, blockquote textarea {border: 1px solid #333;}
		
.user_forms { font-size: 1.1em; width: 99%;}
.user_forms td {padding:5px; width: 50%; border-bottom: 1px solid #ccc; margin:5px;}
.colthree {  padding:2px; width: 50%;}

/*
############################################
    FORMS
    feedback.php, register.php, change_details.php, change-password.php and email_friend.php
############################################
*/
.jform {
	margin:0; padding:0;}
		
form.jform div {
	clear:both;
	padding:0.7em 0 0 0;
}
	
.jform label {
	float:left;
	width:42%;
	text-align:right;
	padding-top:3px;
	font-size: 1.1em;
}

input.jform, textarea.jform { 
	float:left;
	width: 55%;
	text-align:left;
	border:1px solid #333;
	padding:1px;
	margin-left: 5px;
	font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 1.1em;
}

.email { 
	float:left;
	width: 55%;
	text-align:left;
	padding-top:3px;
	margin-left: 5px;
	font-size: 1.1em;
}
    
.selectwidth {
	margin-left: 5px;
	border:1px solid #333;
	width:220px;
}

.jform fieldset {
	border: 1px solid #ccc;
	padding:8px;
	margin:18px 0;
	clear:both;
}
	
.jform legend {
	font-size: 1.2em;
	color:#333;
}

.jform_multipleinput_label {
	float:left;
	width:42%;
	text-align:right;
	padding-top:3px;
	font-size: 1.1em;
}

.jform_multipleinput {
	float:left;
	width: auto !important;
	text-align:right !important;
	margin-left: 8px;
}
    
.jform_dob {
	font-size: 0.9em;
}
    
.dataprotection_input {
	float:left;
	width: 100% !important;
	text-align:left !important;
	margin-left: 2px;
}
    
.field {
	padding:0 1px;
	border: 1px solid #666;
}
    
.datemyform {
	border:1px solid #333; padding:1px;}

.form_line {
	border-bottom: 1px solid #ddd;
	clear: both;
	margin:5px 0;
	padding:2px 0 5px 0;}
       
/* Main button type */    
.button, .rightbutton, .sign_button {
    background: #eee;
    border: 1px solid #666;
    color: #333;
    font-weight: bold;
    padding:0 1px;
}

.button {
    margin: 0 5px;}
    
.rightbutton {
    margin: 0 5px; float: right;}
        
.sign_button { 
    font-size: 1.1em;}


input:focus, textarea:focus {
    background-color: #ffc;
}

/*Kind warning box*/
.kind_warning {
    vertical-align: middle;
    height:35px;
    margin: 14px 0 10px 0;
    padding: 3px 0 0 45px; 
    color:#333;
    font-weight:bold;
    background:url(http://www.northampton.gov.uk/site/images/kind_warning.gif) 0px 0px no-repeat;
}

/*form error box*/
.errorbox {
    margin: 14px 0 0 0;
    padding-left:60px;
    color:#333;
    background:url(http://www.northampton.gov.uk/site/images/error.gif) 0px 0px no-repeat;
} 

.joberror {
    margin:20px 0;
    height:45px;
    padding:6px 0 0 60px;
    color:#333;
    background:url(http://www.northampton.gov.uk/site/images/error.gif) 0px 0px no-repeat;
} 

.errorbox h2, .kind_warning h2, .joberror h2 {
    font-size: 1.1em;
    margin:5px 0;
    color:#333;
    font-weight: bold;
}

.errorbox p {
    padding-bottom:8px;
    margin:0;
    color:#000;
}

.star {
    color:#900;
    font-weight: bold;
}

/*
############################################
JOB APPLICATIONS
############################################
*/
#jobs_centre, .jobs_centre {
    width: 600px; margin: 0 auto;}
    
.jobs_form, .jobs_txtarea, .jobs_form textarea {
    font-size: 1em;margin:0; padding:0; font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif;}
		
input.jobs_form, textarea.jobs_form {
    float:right; width: 330px; text-align:left; padding:1px; border: 1px solid #333; font-size:1em;}

.jobs_form label {
    float:left; width:255px; text-align:right; padding:0.3em 0 0 0;}

form.jobs_form div {
    padding:0.8em 0 0 0;}
		
select.jobs_form {
    border:1px solid #333; padding:0px; font-size:1em;float:left; margin-left:7px;}
		
.multipleinput_label {
    float:left; width:255px; text-align:right; padding: 0.3em 0 0 0;}
    
.multipleinput {
    float:left; width: auto !important; text-align:right !important; margin-left: 8px;}
    
.jobs_date {
    border:1px solid #333; padding:1px; margin-left: 1px; font-size: 1em;}
    
.jobs_txtarea_wrap {
    background: #eee; padding:0 12px 5px 12px; margin:0; width: 100%; text-align:center;}
    
.jobs_txtarea {
    width: 510px; text-align:left; padding:2px; border: 1px solid #333; background: #fff; margin:0;}

.jobs_txtarea_wrap label {
    margin: 0 0 5px 18px; padding:0; text-align:left !important; }

.jobs_form select {
    border: 1px solid #333; background: #fff; margin: 1px 0 4px 11px; width: 330px;}

.check_column_wrap {
    clear:both; width:100%; padding: 0 0 22px 0; margin: 0; border-bottom: 1px solid #ccc;}

.check_column_wrap label {
    float: left; width: auto; margin-left: 20px; padding-top: 12px; white-space: nowrap;}
				
.ref_column { width:270px; float:left; margin:0 20px 0 0; padding:0; }
		.ref_column  p {margin:0; padding: 5px 0 0 0;}

.jobs_heading {border-bottom: 1px solid #ccc; font-size:1.4em;margin:0;padding:10px 0 4px 0; font-weight:bold; color:#333;}
.h {font-weight:normal;}
.jobs_subheader {font-size: 1.2em; font-weight: bold; color: #333; margin:0; padding: 6px 0 2px 0;} 
.top_rule {border-top: 1px solid #ccc; margin: 12px 0; padding: 12px 0; }
.form_line {border-bottom: 1px solid #ccc ; clear: both; margin;0; padding:0;}
            
            .planning_field { padding:1px; border: 1px solid #b10; margin-left: 5px;}
        
                        
            .datejform {border:1px solid #b10; padding:1px; font-size:1em;}

		
/* Step / Progress box */

#stepbox_heading {
    background: #ECF4FB url(http://www.northampton.gov.uk/site/images/bgr.gif) bottom left repeat-x;
    margin:0 0 4px 0;
    padding:5px 0 7px 0;
    font-size: 1.2em;
}

.stepbox {
    margin: 1.5em 0 2em 0;
    padding:0 8px 8px 8px;
    border: 1px dotted #ccc;
    background: #ECF4FB;
    color: #000;
    text-align: left;
}
    
.stepbox ul {
    list-style-type: none;
    margin:0;
    padding: 5px 18px;
}

.stepbox li {
    margin:0;
    padding: 6px 0 6px 18px;
    font-weight: bold;
}

.stepbox p {
    font-size:1.1em;
    margin:0;
    padding:10px 18px 10px 18px;
    color: #333;
}

.stepbox_column {
    width: 40%; margin:0; padding:0; float: left;}
		
.check_home { color: #333; background-image: url(http://www.northampton.gov.uk/site/images/check_home.gif);  background-position: 0 4px; background-repeat: no-repeat; }
.check_tick { color: #333; background-image: url(http://www.northampton.gov.uk/site/images/check_tick.gif);  background-position: 0 7px; background-repeat: no-repeat; }
.check_arrow { color: #333; background-image: url(http://www.northampton.gov.uk/site/images/check_arrow.gif);  background-position: 0 7px; background-repeat: no-repeat; }
.check_dash { color: #333; background-image: url(http://www.northampton.gov.uk/site/images/check_dash.gif);  background-position: 0 7px; background-repeat: no-repeat; }
		
/* Save for later box */
		
.laterbox {
    text-align: left; border: 1px dotted #ccc;
    background: #ECF4FB; padding:6px; margin: 12px 0 10px 0;}

.h_laterbox {
    margin:0; padding: 0 0 3px 0; font-size: 1.2em;  font-weight:bold; color:#333;}

.laterbox p {
    margin:0; padding: 0;}

.laterbox div {
    padding-top: 4px;}

.laterbox form {
    margin:0; padding:0;}

/* Jobs Buttons */

.center {
    text-align: center; margin: 20px 0; padding: 10px 0; clear: both;
}
.right {
    text-align: right; margin:0; padding: 18px 0 28px 0;
}

.proceed_button {
    padding:0 3px; margin:0; color:#fff; font-size: 1.1em; font-weight:bold; border:1px solid #333; background-color:#666;
}
.later_button {
    float: right; padding:0 3px; margin:0; color:#000; font-size: 1.1em; font-weight:bold; border:1px solid #333; background-color:#ccc;
}
.submit_button {
    padding:0 5px; margin:0; color:#fff; font-size: 1.2em; font-weight:bold; border:1px solid #333; background-color:#666;
}


/*
############################################
Google search results
############################################
*/

#google_search label {
	display: none;
}
        
.googstrip{  
	border: 1px solid #ccc;
	margin: 4px 0 12px 0;
	padding: 8px;
	background-color: #eee;
}
        
.googresult {
	margin-top: 22px;
	overflow: hidden;
}
        
.googresult p {
	margin:0;
	padding:4px 0 0 0;
	font-size: 0.94em;
	line-height: 1.3em;
}
        
.url {
	color: #080;
}
        
.cache a:link, .cache a:visited {
	color: #777; font-weight: normal;
}

.cache a:hover, .cache a:active {
	color: #777;
	font-weight: normal;
	text-decoration: underline;
}
        
.g1 a {
	font-size: 1.3em;
}

#pagenav {
	text-align: center;
	margin: 32px 0;
	font-size: 1.1em;
	line-height: 1.3em;
}

.on_page {
	font-weight: bold;
	color: #333;
}
        
.googfooter{  
	padding: 12px;
	background-color: #eee;
	border: 1px solid #ccc;
}

/*-----------find my nearest styles--------------*/
.genbox {
width: 429px;
background:#fff;
border-bottom: 1px solid #ddd;
margin: 2px 0 4px 0;
padding: 5px 7px 5px 7px;
}

.genbox img {
float: left;
padding: 0 10px 0 0;
}

.genbox form {
font-size:1.1em;
padding: 10px 0 15px 0;
}

/*planx*/

#rightpane {
float: right;
padding: 20px 0 15px 15px;
background: #fff url(http://www.northampton.gov.uk/site/images/com.gif) repeat-y left;
width: 594px;
height: 400px;
}

#com_box>#rightpane {
min-height: 400px;
height:auto;
}

#leftpane {
float: left;
width: 130px;
padding: 5px;
}

#com_box h1 {
font-size: 1.5em;
font-weight: bold;
margin: 10px 0 0 5px;
}

#com_box fieldset {
border: none;
}

#com_box legend {
font-size: 1.2em;
color: #333;
margin: 10px 0;
}

#com_box label {
font-weight: bold;
font-size:1.1em;
color: #333;
}

#com_box input {
margin: 0 10px 10px 0;
}

#com_box ul{
margin: 0 0 0 5px;
padding: 0;
}

#com_box li {
list-style: none;
margin: 0;
padding: 5px 0;
}

#com_box .com_button {
margin: 10px; 
padding: 5px;
border-top: 1px solid #999;
border-left: 1px solid #999;
border-bottom: 1px solid #333;
border-right: 1px solid #333;
background: #ccc;
}



/*
########## Elements for hiding from main site #########
########## used on textonly.css and print.css #########
*/

#hide, .hide, .hidekey, #print_footer { display: none; }


/*tables--*/
table{font-size:0.9em;border: 1px solid #555;border-collapse: collapse;margin-left: auto;margin-right: auto;width: 400px;}
td{border: 1px solid #555;}
th{border: 1px solid #555;background:#eee;}
.floatright { float: right; }

table#calendar {width:auto;border-collapse: separate;border:none;}
#calendar th {background:none;border:none;}