
body { font-size:95%; background: #000; color: #fff; margin:15px; padding:10px;}
body img { display:none; }

/* generic text
---------------*/
html, body, div, a, p, ul, li, input, .myform { font-family:Verdana, Tahoma, Arial, Helvetica, Sans-Serif; color:#0ff;}
h1, h2, h3, .h_1, .h_2, .h_3, .colhead, legend, .hidekey, .navheading { color: #ff0; font-weight:bold; margin:0; padding:0; }

a:link { font-weight: bold; text-decoration:underline; color:#0ff; }
a:visited { font-weight: bold; text-decoration: underline; color:#0ff; }
a:hover { font-weight: bold; text-decoration: none; color:#0ff;}
a:active { font-weight: bold; text-decoration: underline; color: #0ff;}

li {padding: 0.1em 0;}

.small { font-size: 0.9em; font-weight: bold; padding:4px 0 4px 0;}
.bold { font-weight: bold;}
.first {font-weight: bold; font-size: 1.05em;}
.slim {margin:0; padding:3px 0 3px 0;}
.leftrule {
	margin:0;
	padding: 1.1em 0 0.6em 0;	
}

input, .jform { color:#000;  }

/* headings
---------------*/
#council_name {margin:0; font-size: 2.4em; padding:0.6em 0; color: #ff0;}

h1, .h_1 {padding:0; font-size: 2.3em; padding:0.5em 0;} /* the page title heading, i.e, Contact us, Register */
h1, .h_1 a {color: #ff0;}
h2, .h_2 { margin:1em 0 1em 0; padding:0; font-size: 1.7em; }/* control centre  heading */
h2 a, .h_2 a, .colheading a, .feat_h1 a {color: #ff0;}
h3, .h_3 { font-size: 1.4em; font-weight: bold; margin:0.4em 0 0.4em 0; }/* control centre sub heading */

.h_3 a, .cate_h, .cate_h a, .contact_h { font-weight: bold; color:#ff0;}

.colhead, .keyinfo_h {padding:0; font-size:1.2em;} /* left and right column headings */
/*Mozilla div span hack*/
.mozhack {clear:both;}

#print_footer, #council_name_print {display: none;}

/*
############################################
STRUCTURAL LAYOUT - EXTREME CAUTION! 
############################################
*/
 
#search p {
	margin:0; padding:0;
}

#sign div{
	display: inline; 
}

#leftsignin {
	margin:0;
	padding: 1.1em 0 0.6em 0;
}

.colhead, .navheading, .feat_h1 a {
	margin:0;
	padding: 1.1em 0 0.6em 0;
}

#leftcolumn {
	border-bottom: 1px dotted #ccc;
	margin: 1em 0;
	padding: .6em 0;
}

#az a {
    font-weight:bold;
    margin:0;
	padding: 1.1em 0 0.6em 0;
    font-size: 1.2em;
}

#footer {
    border-top: 1px dotted #ccc;
    margin: 1em 0;
	padding: .6em 0;
	font-size: .9em;
}

.cate_wrap {
	clear: both;
    margin: 0.5em 0 1em 0;
    padding:0;
}

.info_left {
	margin-bottom: 0;
	padding-bottom: 0;
}

.info_right {
	margin-top: 0;
	padding-top: 0;
}

.infobox_h, #navbox div {
    color: #ff0;
    font-size: 1.2em;
    padding: 1em 0;
}

.infobox {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px dotted #ccc;
}

.faq {
	padding:1em 0;
	margin:0;
}

.answer {
	margin:0 0 0 2em;
	padding: 2em 0;
}

.faq_q {
	font-weight: bold;
	font-size: 1.1em;
	color: #ff0;
}
.faq_a {
	font-style: italic;
	color: #ff0;
	padding: 1px 2px;
	font-weight: bold;
}

#calendarcontainer, #calendarcontainerinfo {display: none;}

#sitemap {
    font-size: 1em;
}

#sitemap div {margin: 1.4em 0;}

#sitemap ul {
    list-style: none;
    margin:2px 0 2px 8px;
    padding:0;
}
    
#sitemap li {
    padding: 3px 0 3px 10px;
    line-height:1.6em;
}

.linkbox {
	margin:1.2em 1.2em 0 3em;
	padding:0 0 12px 0;
	display: block;
}

/* Top ten list */
.topten {	
	margin:1.5em 0 2em 0;
    padding:0;
}

.topten li {
    font-weight: normal;
    list-style: decimal;
    padding:0;
    line-height: 1.5em;
}


/*
############################################
ADVANCED SEARCH
############################################
*/
#searchcheck {
	float: left;
	display: inline;
	margin:0;
	padding:0;
}

#searchcheck label {
	text-align: left;
	display: inline;
	width: auto;
}

.adv_checks {
	margin:5px 10px 0 0;
	padding: 3px 0 2px 0;
	border-bottom:1px solid #ccc;
	clear: none;
}
       
/* Search results */
.result {
	margin: 2em 0;
}

.relevance {
	color:#ff0;
	font-size: 0.94em;
	margin:0;
	padding:0 0 2px 0;
}
	
.search_highlight {
	font-style: italic;
	padding: 1px 2px;
}

/*
############################################
XFORMS
############################################
*/

#xform_signin { 
    width: 100%;
    clear: both;
    padding: 15px 0 0 0;
}

#xform_signin div {
	padding:5px 0;
}

#xform_signin label {
	font-size: 1.1em;
	padding:0 0 0 5px;
}

.help {
	font-size:0.9em;
	padding:0 2px 0 2px;
}

blockquote input, blockquote textarea {border: 1px solid #333;}
		
.user_forms { font-size: 1.1em; width: 99%;}
.user_forms td {padding:5px; width: 50%; border-bottom: 1px solid #ccc; margin:5px;}
.colthree {  padding:2px; width: 50%;}

/*
############################################
    FORMS
    feedback.php, register.php, change_details.php, change-password.php and email_friend.php
############################################
*/
.jform {
	margin:0; padding:0;}
		
form.jform div {
	clear:both;
	padding:0.7em 0 0 0;
}
	
.jform label {
	float:left;
	width:42%;
	text-align:right;
	padding-top:3px;
	font-size: 1.1em;
}

input.jform, textarea.jform { 
	float:left;
	width: 55%;
	text-align:left;
	border:1px solid #333;
	padding:1px;
	margin-left: 5px;
	font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 1.1em;
}
    
.selectwidth {
	margin-left: 5px;
	border:1px solid #333;
	width:220px;
}

.jform fieldset {
	border: 1px solid #ccc;
	padding:8px;
	margin:18px 0;
	clear:both;
}
	
.jform legend {
	font-size: 1.2em;
}

.jform_multipleinput_label {
	float:left;
	width:42%;
	text-align:right;
	padding-top:3px;
	font-size: 1.1em;
}

.jform_multipleinput {
	float:left;
	width: auto !important;
	text-align:right !important;
	margin-left: 8px;
}
    
.jform_dob {
	font-size: 0.9em;
}
    
.dataprotection_input {
	float:left;
	width: 100% !important;
	text-align:left !important;
	margin-left: 2px;
}
    
.field {
	padding:0 1px;
	border: 1px solid #333;
}
    
.datemyform {
	border:1px solid #333; padding:1px;}

.form_line {
	border-bottom: 1px solid #ccc;
	clear: both;
	margin:5px 0;
	padding:2px 0 5px 0;}
       
/* Main button type */    
.button, .rightbutton, .sign_button {
    background: #eee;
    border: 1px solid #666;
    color: #333;
    font-weight: bold;
    padding:0 1px;
}

.button {
    margin: 0 5px;}
    
.rightbutton {
    margin: 0 5px; float: right;}
        
.sign_button { 
    font-size: 1.1em;}


input:focus, textarea:focus {
    background-color: #ffc;
}

/*Kind warning box*/
.kind_warning {
    margin: 1.3em 0;
    color:#ff0;
    font-weight:bold;
}

/*form error box*/
.errorbox {
    margin: 1.3em 0;
    padding-left:2em;
    color:#ff0;
} 

.joberror {
    margin: 1.4em 0;
    color:#ff0;
} 

.errorbox h2, .kind_warning h2, .joberror h2 {
    font-size: 1.1em;
    margin:5px 0;
    color:#ff0;
    font-weight: bold;
}

.errorbox p {
    padding-bottom:8px;
    margin:0;
}

.star {
    color:#900;
    font-weight: bold;
}

/*
############################################
JOB APPLICATIONS
############################################
*/
#jobs_centre, .jobs_centre {
    width: 600px; margin: 0 auto;}
    
.jobs_form, .jobs_txtarea, .jobs_form textarea {
    font-size: 1em;margin:0; padding:0; font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif;}
		
input.jobs_form, textarea.jobs_form {
    float:right; width: 330px; text-align:left; padding:1px; border: 1px solid #333; font-size:1em;}

.jobs_form label {
    float:left; width:255px; text-align:right; padding:0.3em 0 0 0;}

form.jobs_form div {
    padding:0.8em 0 0 0;}
		
select.jobs_form {
    border:1px solid #333; padding:0px; font-size:1em;float:left; margin-left:7px;}
		
.multipleinput_label {
    float:left; width:255px; text-align:right; padding: 0.3em 0 0 0;}
    
.multipleinput {
    float:left; width: auto !important; text-align:right !important; margin-left: 8px;}
    
.jobs_date {
    border:1px solid #333; padding:1px; margin-left: 1px; font-size: 1em;}
    
.jobs_txtarea_wrap {
    background: #eee; padding:0 12px 5px 12px; margin:0; width: 100%; text-align:center;}
    
.jobs_txtarea {
    width: 510px; text-align:left; padding:2px; border: 1px solid #333; background: #fff; margin:0;}

.jobs_txtarea_wrap label {
    margin: 0 0 5px 18px; padding:0; text-align:left !important; }

.jobs_form select {
    border: 1px solid #333; background: #fff; margin: 1px 0 4px 11px; width: 330px;}

.check_column_wrap {
    clear:both; width:100%; padding: 0 0 22px 0; margin: 0; border-bottom: 1px solid #ccc;}

.check_column_wrap label {
    float: left; width: auto; margin-left: 20px; padding-top: 12px; white-space: nowrap;}
				
.ref_column { width:270px; float:left; margin:0 20px 0 0; padding:0; }
		.ref_column  p {margin:0; padding: 5px 0 0 0;}

.jobs_heading {border-bottom: 1px solid #ccc; font-size:1.4em;margin:0;padding:10px 0 4px 0; font-weight:bold; color:#333;}
.h {font-weight:normal;}
.jobs_subheader {font-size: 1.2em; font-weight: bold; color: #333; margin:0; padding: 6px 0 2px 0;} 
.top_rule {border-top: 1px solid #ccc; margin: 12px 0; padding: 12px 0; }
            
            .planning_field { padding:1px; border: 1px solid #b10; margin-left: 5px;}
                        
            .datejform {border:1px solid #b10; padding:1px; font-size:1em;}

		
/* Step / Progress box */

#stepbox_heading {
    background: #ECF4FB url(images/bgr.gif) bottom left repeat-x;
    margin:0 0 4px 0;
    padding:5px 0 7px 0;
    font-size: 1.2em;
}

.stepbox {
    margin: 1.5em 0 2em 0;
    padding:0 8px 8px 8px;
    border: 1px dotted #ccc;
    text-align: left;
}
    
.stepbox ul {
    list-style-type: none;
    margin:0;
    padding: 5px 18px;
}

.stepbox li {
    margin:0;
    padding: 6px 0 6px 18px;
    font-weight: bold;
}

.stepbox p {
    font-size:1.1em;
    margin:0;
    padding:10px 18px 10px 18px;
    color: #333;
}

.stepbox_column {
    width: 40%; margin:0; padding:0; float: left;}
		
.check_home { color: #333; background-image: url(images/check_home.gif);  background-position: 0 4px; background-repeat: no-repeat; }
.check_tick { color: #333; background-image: url(images/check_tick.gif);  background-position: 0 7px; background-repeat: no-repeat; }
.check_arrow { color: #333; background-image: url(images/check_arrow.gif);  background-position: 0 7px; background-repeat: no-repeat; }
.check_dash { color: #333; background-image: url(images/check_dash.gif);  background-position: 0 7px; background-repeat: no-repeat; }
		
/* Save for later box */
		
.laterbox {
    text-align: left; border: 1px dotted #ccc;
    background: #ECF4FB; padding:6px; margin: 12px 0 10px 0;}

.h_laterbox {
    margin:0; padding: 0 0 3px 0; font-size: 1.2em;  font-weight:bold; color:#333;}

.laterbox p {
    margin:0; padding: 0;}

.laterbox div {
    padding-top: 4px;}

.laterbox form {
    margin:0; padding:0;}

/* Jobs Buttons */

.center {
    text-align: center; margin: 20px 0; padding: 10px 0; clear: both;
}
.right {
    text-align: right; margin:0; padding: 18px 0 28px 0;
}

.proceed_button {
    padding:0 3px; margin:0; color:#fff; font-size: 1.1em; font-weight:bold; border:1px solid #333; background-color:#666;
}
.later_button {
    float: right; padding:0 3px; margin:0; color:#000; font-size: 1.1em; font-weight:bold; border:1px solid #333; background-color:#ccc;
}
.submit_button {
    padding:0 5px; margin:0; color:#fff; font-size: 1.2em; font-weight:bold; border:1px solid #333; background-color:#666;
}
