@import url(forms.css);
@import url(editor.css);

/* CSS reset based on HTML5 Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body 					{ font:14px/1.58em 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color:#fcfcfc; color:#444; } 

h1 						{ font-size:2.285em; line-height:1.4em; margin:.85em 0 0em; font-weight:normal;}
h2 						{ font-size:1.4em; padding-top:.1em; margin:2.05em 0 .58em;}
h3 						{ font-size:1.125em; }
h4 						{ font-size:1em;}
h3, h4, h5, h6 			{ font-weight:200; }

p { margin:0 0 1.58em; line-height:1.58em; }

blockquote, q 					{ quotes: none; }
blockquote:before, q:before		{ content: "Ò"; font-size:4em; text-indent:-.6em; margin-top:.15em; float:left; opacity:.3; }
cite							{ display:block; text-transform:uppercase; letter-spacing:1px; font-style:normal; font-weight:bold; font-size:smaller; margin-top:1.9em;}
cite:before						{ content:"Ð"; float:left; font-size:1.5em; text-indent:-1.3em; font-weight:bold; margin-top:-.1em;}

ul 			{ list-style:none; }
p ul 		{ list-style-type:disc; margin:1.58em 0 1.58em; }
ol 			{ list-style-type: decimal; margin:1.58em 0 1.58em; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

abbr 		{ border-bottom: 1px dotted; cursor: help; text-transform:uppercase; font-size:.85em; }

strong 		{ font-weight: bold; }
em 			{ font-style:italic; }

table 		{ border-spacing: 0; margin:1.58em 0; }
th 			{ font-weight: bold; }
td 			{ vertical-align: top; }

sub, sup	{ font-size: 75%; line-height: 0; position: relative; }
sup 		{ top: -0.5em; }
sub 		{ bottom: -0.25em; }

form 		{ margin:1.58em 0; }
label 		{ cursor:pointer; }

select, 
input, 
textarea 		{ font:99% sans-serif; }

input, select 	{ vertical-align: middle; }
textarea 		{ overflow: auto; }

input[type="radio"] 		{ vertical-align: text-bottom; }
input[type="checkbox"] 		{ vertical-align: bottom; }
input.button 				{ cursor: pointer; width: auto; overflow: visible; }

form li						{ margin-bottom:1.58em; overflow:auto; clear:both; }

.float_left {float:left;}
.float_right {float:right;}
.image_centre { margin:0 auto; display:block; text-align:center; }

.imageCaption { color: #666; font-size: 0.9em; padding: 5px; }
.imageCaption img { margin: 0 0 5px; padding: 0; } 
.imageCaption p { margin: 0; padding: 0; }

/** SPECIAL CLASSES **/

.clear 				{ clear:both; }
span.clear 			{ display:block; }
.hidden 			{ position:absolute;left:-200000px; top:-200000px; }
#mobile_name 		{ display:none; }

/* ######################################## STRUCTURAL LAYOUT ### */

	#wrapper 						{ width: 990px; margin: 0 auto; padding: 0 10px 1px;  }

/* ----- Header ----- */

	#header 						{ display: block; margin-bottom: 1.58em; padding-top:3em;   }
	#header > ul					{ padding:15px; margin-top:1.58em; }	
	#header > ul li					{ float:left; font-size:0.75em; margin-right:2.5em; }
	
	#header > ul#skip				{ float:right; padding:0; background:none; border:none; box-shadow:none; }
	ul#skip li						{ float:left; margin-right:1em; text-align:right; text-transform:none; font-weight:normal; }
	ul#skip li:last-child			{ margin-right:0; }
	
	ul#skip li a					{ text-decoration:none; }
	
	
	
	/** SEARCH FORM **/
	
	form#search 					{ font-size:0.857em; float:right; margin-top:-4em; margin-right:2em;  }
	form#search label				{ font-weight:bold; margin-right:1.58em; }
	
	form#search p					{ float:right; text-align:right; margin-top:1.58em; }
	form#search p a					{ text-decoration:none; }
	
	
	#header > ul li	{ margin-bottom:0; } 
	
	.ie7 form#search { text-align: right; margin-top:-3.5em; width: 38%; }

/* ----- Announcement ----- */

	#announcement 					{ padding: 10px; margin-bottom: 15px; }
	#announcement div.h2, 
	#trackedURL div.h2 				{ padding: 0 0 5px 0; margin: 0; font-size: 1.3em; font-weight:bold; }
	#announcement p, #trackedURL p 	{ padding: 5px 0; margin: 0; }

/* ----- Column Primary ----- */

	#columnPrimary 					{ margin-bottom: 15px; width: 200px; float: left; overflow: hidden; }
	#columnPrimary h2				{ margin-top:.58em; }	
	#columnPrimary .supplement img	{ width: 100%; }

/* ----- Column Secondary ----- */

	#columnSecondary 					{ margin-bottom: 15px; width: 220px; float: right; font-size:0.857em; }
	#columnSecondary .supplement img	{ width: 100%; }
	#columnSecondary a.email			{ word-wrap: break-word; }
	
	#columnSecondary h3					{ font-size:1.4em; margin:.58em 0 .58em; }
	
	#columnPrimary li,
	#columnSecondary li					{ margin-bottom:.58em; }
	
	#columnPrimary a,
	#columnSecondary a					{ text-decoration:none; }
	
	#columnPrimary div,
	#columnSecondary div				{ margin-bottom:1.58em; padding-bottom:1.58em; }

/* ----- Content ----- */

	#content 						{ margin: 0 0 15px 12px; float: left; width: 680px; }

	#content h1						{ margin: 0 0 .58em; font-size: 2em; padding-top:0.2em; }
	#content h2						{ margin: 1em 0 .58em; font-size: 1.6em; border-bottom:1px dotted #ddd; padding-bottom:.2em; line-height:1.58em;  }
	#content h3						{ margin: 1em 0 .58em; font-size: 1.3em; }
	#content h4						{ margin: 1em 0 .58em; }


	.oneCol #content 				{ float: none; width: auto; margin-left: 0; }

	.twoCol #content 				{ width: 680px; margin-left: 0; }

	.threeCol #content 				{ width: 520px; }

	ul.list li a				{ text-decoration:none; }
	#content ul.list li p		{ padding-bottom:0; margin-bottom:0; }
	
	ul.list li span.small		{ font-size:0.9em; font-family:georgia, serif; font-style:italic;  color:#888; margin-bottom:3em;  }
	
	/** Breadcrumbs **/
	#breadcrumb 					{ overflow: hidden; display: block; clear: both; }
	#breadcrumb ul 					{ margin:0 0 2em; }
	#breadcrumb li					{ display: inline; padding-right: 10px; font-size:0.857em;  }
	#breadcrumb li span				{ font-weight: bold; }
	#breadcrumb li a				{ text-decoration:none; }

	.supplement						{ margin-bottom: 1.58em; }

	#content a.galImg				{ float: left; margin-right: 15px; padding: 5px; border: 1px solid #ddd; background: #fff; }
	
	/** Navigation Widgets **/
	
	.navWidget	{ font-size:0.857em; padding-bottom:1.58em; }
	
	.navWidget li	{ margin-bottom:.58em; }
	.navWidget a	{ text-decoration:none; }
	
	div.sociable ul li	{ float:left; padding-right:10px; }
	
	#content div.sociable ul		{ overflow:auto; margin-left:0; font-size:0.857em;  }
	
	#content div.sociable ul li a	{ text-decoration:none; }
	
	ul li		{ margin-bottom:1.58em; }
	ul li a 	{ text-decoration:none; }
	
	/** Tables **/
	table					{ border: 1px solid #ddd; border-radius:10px; }
	table tr 				{  }
	 
	table td 				{ padding: 5px; padding: 10px 40px 10px 10px; }
	table th 				{ line-height: 1.6em; text-align: left; padding: 15px 40px 15px 10px; }
	table caption 			{ font-size:1.1em; }
	

/* ----- Footer ----- */

	#footer 						{ margin-top:80px; display: block; clear: both; font-size:0.857em; padding-top:1.58em; }
	#footer p						{ padding: 1.58em 0 1.58em; clear:both; }
	
	#footer ul li					{ float:left; padding-right:10px; margin-bottom:0; }
	#footer a						{ text-decoration:none; color:black;  }

/* ----- IE Fixes ----- */

	/* IE6 */
	body.ie6 #mast .pseudoH1 				{ margin-top: 40px; }
	body.ie6 #mast form input.field 		{ padding-bottom: 2px; margin-right: -1px; }
	body.ie6 #mast p 						{ width: 310px; }
	body.ie6 .row_divider 					{ width:100%; clear:both; margin: 0 0 5px; padding:0 5px 0 0; }
	body.ie6 input.button, 
	#content form.basic_form input.button 	{ margin:0; padding:0; vertical-align: top; }
	body.ie6 img 							{ -ms-interpolation-mode:bicubic; }

	/* IE7 */
	body.ie7 #mast .pseudoH1 				{ margin-top: 40px; }
	body.ie7 #mast form input.field 		{ padding-bottom: 2px; margin-right: -1px; }
	body.ie7 #mast p 						{ width: 310px; }
	body.ie7 .row_divider 					{ width:100%; clear:both; margin: 0 0 5px; padding:0 5px 0 0; }
	body.ie7 input.button, 
	#content form.basic_form input.button 	{ margin:0; padding:0; vertical-align: top; }
	body.ie7 img 							{ -ms-interpolation-mode:bicubic; }
	
	/* IE8 */
	body.ie8 iframe							{ zoom: 1;}
	
/** SPECIFIC PAGE STYLES

/* ----- A-Z Pages ----- */
	ul.alphabeticNav		{ padding-bottom:4em; }
	ul.alphabeticNav li		{ float:left; margin-right:10px; padding:3px; margin-bottom:0; text-transform: uppercase; }
	

/* ----- Offline page ------ */
	
	#pageOfflive					{ font-size: 75%; background: #f5f5f5; }
	#pageOfflive p 					{ padding: 1em 0 1em 0; }
	#pageOfflive div 				{ text-align: left; padding: 5em; width: 400px; background: #fff; border: 10px solid #d5d5d5; margin: 50px auto; }
	
	#pageOfflive h1 				{ padding:0; font-size: 1.3em; color:#000; padding: 8px 0; font-weight: normal; }
    #pageOfflive h2 				{ padding:0; font-size: 1.1em; color:#333; padding: 8px 0;  font-weight: normal }
    #pageOfflive img 				{ border-style:none; padding:0; margin:0;  text-align: center; }
		
	#pageOfflive a:link 			{ font-weight: bold; text-decoration:none; color:#339; background:transparent; }
    #pageOfflive a:visited 			{ font-weight: bold; text-decoration: none; color:#669; background: transparent; }
    #pageOfflive a:hover 			{ font-weight: bold; text-decoration: underline; color:#339; background: transparent; }
    #pageOfflive a:active 			{ font-weight: bold; text-decoration: underline; color: #339; background: transparent; }

/* ######################################## MEDIA QUERIES ### */

@media all and (min-width: 800px) and (max-width: 1025px) {

	#wrapper 					{ width: 780px; }	
	#content 					{ width: 524px; }
	.twoCol #content 			{ width: 575px; }
	.threeCol #content 			{ width: 340px; }

}

@media all and (max-width: 815px), 
	   only screen and (min-device-width: 768px) and (max-device-width: 1024px), 
	   only screen and (max-device-width: 480px) {
	
	#wrapper 					{ width: auto; margin: 0 auto; }	
	#columnPrimary, 
	#columnSecondary 			{ float: none; width: auto; clear: both; }
	.twoCol #content 			{ width: auto; }
	#content, 
	.threeCol #content			{ float: none; width: auto; clear: both; margin-left: 0; }
	
}

/* ----- ipad [portrait + landscape] ----- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

/* ----- iPhone [portrait] ----- */

@media only screen and (max-width: 480px) {
	#wrapper 					{ width: 360px; }
}

/* ----- Print styles ----- */

@media print {

	body { font-size: 75%; }

	h1, h2, h3, h4, h5, h6, #mobile_name { font-weight:bold; }

	#content img.contentimage, #content img.main_image, #content .lead_item img { float: right; margin: 0 0 15px 15px; height: 130px;  border: 1px solid #ccc; padding: 1px; }
	#content img.salesBoard { float:left; margin: 0 15px 15px 0; height:50px; }

	#content { margin: 0 5px; }
	#column_nav, #breadcrumb, #mast, #footer, #related, .sociable, #content #calendarcontainer { display:none; }
	#wrapper { width: auto; }
	#mobile_name { display:block; font-size: 1.5em; padding: 20px 15px; background: #eee; font-weight:bold; border-bottom: 1px solid #ccc; }

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, 
	s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
	#page_wrap, #mast, #mast #azbar, #mast .mast_links, #mast #primary_nav li, #mast #primary_nav li.lastItem a:link, #mast #primary_nav li.lastItem a:visited, 
	#mast #primary_nav li.lastItem a:hover, #mast #primary_nav li.lastItem a:active, #content p.page_down, #content table, #content table tr, #content table td, 
	#content table th, #content #az_index, #content #az_index li span, #column_nav ul.navWidget li, #content p.date, #content strong, #content #breadcrumb, 
	#content #breadcrumb ul li span, #content #az_index li span, #footer, #content .basic_form p, #content label, #content .xform label
	{ background: #FFf; color: #000; }

	#content #calendarcontainer table#calendar td.today, #content h2.signin, #column_nav h2.navWidget, #content #progressbar
	{ background: #000; color: #FFf; }

	#mast .mast_links form input.field, #content table, #content table tr, #content table td, #content table th, #content .lead_item img, #content .poll_box, #content .poll_box img,
	#content .listed_item, #content .listed_item, #content .download_box, #content div.cate_info, #content #related, #content #breadcrumb, 
	#content .sitemap, #content #az_index, #content .person_box img, #content .personBorder, #column_nav h2.navWidget, #column_nav ul.navWidget li, #footer,
	#content .basic_form p
	{ border-color: #000; }

	a:link, a:visited, #mast .mast_links a:link, #mast .mast_links a:visited, #mast #primary_nav li a:link, #mast #primary_nav li a:visited,
	#content table th a:link, #content table th a:visited, #content #calendarcontainer #calendar td a:link, #content #calendarcontainer #calendar td a:visited, 
	#content #az_index li a:link, #content #az_index li a:visited, #column_nav ul.navWidget li a:link, #column_nav ul.navWidget li a:visited, 
	#content div.cate_info h2 a:link, #content div.cate_info h2 a:visited, #content div.doc_info h2 a:link, #content div.doc_info h2 a:visited,
	#content #breadcrumb ul li a:link, #content #breadcrumb ul li a:visited
	{ background: #FFf; color: #000080; }

	a:hover, a:active, #mast .mast_links a:hover, #mast .mast_links a:active, #mast #primary_nav li a:hover, #mast #primary_nav li a:active, 
	#content table th a:hover, #content table th a:active, #content #calendarcontainer #calendar td a:hover, #content #calendarcontainer #calendar td a:active,
	#content #az_index li a:hover, #content #az_index li a:active, #column_nav ul.navWidget li a:hover, #column_nav ul.navWidget li a:active,
	#content div.cate_info h2 a:hover, #content div.cate_info h2 a:active, #content div.doc_info h2 a:hover, #content div.doc_info h2 a:active,
	#content #breadcrumb ul li a:hover, #content #breadcrumb ul li a:active
	{ background: #FFf; color: #008000; }

	#content .row_divider .new_widget, #content  .row_divider .new_widget p, #content .row_divider .new_widget h2, #content .row_divider .new_widget h3, 
	#content .row_divider .new_widget div, #content .row_divider .new_widget span, #content .row_divider .new_widget dt, #content .row_divider .new_widget ul,
	#content .row_divider .new_widget li, #content .row_divider .new_widget dd
	{ background:#FFf; color: #000 ; border:none; }

	#content .row_divider .new_widget a:link, #content .row_divider .new_widget a:visited 
	{ background:#FFf; color: #000080; border:none; }
	#content .row_divider .new_widget a:hover, #content .row_divider .new_widget a:active 
	{ background:#FFf; color: #008000; border:none; }
	
	body.ie6 #wrapper { width:auto !important; }

}

/* ----- Standard mobile styles ----- */

@media handheld {
	
	.print_hide, .hidekey, legend, fieldset, #footer_box img, #mast img, .pseudoH1, #mast p, #column_nav img, #related_nav img { display: none; }
	
	body, td, form, div, p, h1, h2, h3, h4, a:link, a:visited, a:hover, a, #mobile_name,  dl, dd, dt { margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; font-size: small; font-style: normal; }

	ul { padding:0; margin:0 0 0 1.5em; }
	img { width:2em; margin:0.5em 1em; }

	a { text-decoration: underline; }
	a:link, a:visited, a:active { color: #A2A2A2; font-weight: normal; }
	a:hover { color: red; }

	body { margin:0; padding:0; }

	div#mobile_name { margin:0;padding:0;background:#F5F5F5;border:none; font-weight:bold; font-size: large; padding:0.5em 0; }

	#mast { border-top: 1px solid #868686; border-bottom: 1px solid #868686; font-size: small; background-color: #eee; padding:0; margin:0; }
	#mast ul{ list-style:none; margin:0; padding:0; display:inline; }
	#mast li { margin:0; padding:0; display:inline; background: #fff; }
	#mast li a:link, #mast li a:visited { padding:0 0.5em; margin:0; border:1px solid #ccc; font-size:smaller; color:#000; text-decoration:none; }
	#mast li a:hover, #mast li a:active { color:red; }
	#mast form, #mast form label, #mast form input { font-size: x-small; }
	
	#column_nav { margin-top:1em; border-top: 2px solid #868686; }
	#column_nav, #related_nav { padding: 4px; font-size: small; background-color: #f5f5f5; }
	#column_nav a, #related_nav a, #footer a { color:#000; text-decoration:none; font-weight:bold; }
	#column_nav li, #related_nav li { font-size: small; border-bottom: 1px dashed #A2A2A2; margin: 0 0 4px; display:block; font-weight:bold; }

	#breadcrumb, h1 { font-size:x-small; padding: 4px; background-color: #f5f5f5; display:block; }
	#breadcrumb ul li a:link, #breadcrumb ul li a:visited { color:#000; text-decoration:none; font-weight:bold; font-size:x-small; }
	#breadcrumb ul li a:hover, #breadcrumb ul li a:active { color:red; }
	#breadcrumb { border-bottom: 2px solid #868686; }

	.new_widget img { height:2em; width:2em; margin:0.5em 1em; }
	.new_widget { clear:both; }
	#sign_in { margin-bottom:1em; }

	.widget_heading { font-weight:bold; }

	#footer { border-bottom: 20px solid #A2A2A2; margin-bottom:1em; font-size: x-small; font-weight: normal; color: #666; padding-top: 8px; padding-bottom: 4px; border-top: 1px solid #868686; border-bottom: 1px solid #868686; background: #ebebeb; }
	#related, .infobox, .contactbox, #navbox { clear:both; margin-top:1em; }

	label { display: block; width: 120px; font-weight: normal; color: #000; margin: 4px 0 0 0; }
	form input, form textarea, form select { width: 120px; border: 1px solid #A2A2A2; margin: 0 0 4px 0; }
	.errorbox, .kind_warning, .star { color:red;}
	form input.button, form .questionone input, form #dataProtection { width:auto; }

}

/** TYPOGRAPHIC ENRICHMENTS **/

h1, h2, h3, h4, h5, h6 	{ font-weight:normal; font-family:'Georgia', serif; clear:both; }

a, a:active, a:visited 	{ color: #73A60D; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
a:hover, a:active 		{ outline: none; }
a:hover 				{ color: black; }

/** HEADER ENRICHMENTS **/
	
	#header > ul li		{ text-transform:uppercase; font-weight:bold; text-align:center; }
	#header > ul		{ border:1px solid #ddd; overflow:auto; background-color:#fff; text-align:center; border-radius:10px;   }
	#header > ul 		{ background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(245,245,245,1) 100%); box-shadow:1px 1px 4px rgba(0,0,0,0.08), 1px 1px 4px rgba(255,255,255,0.08) inset;}
	#header				{ border-top:8px solid #e8e8e8; }
	
	#header > ul li a				{ text-decoration:none; color:#777; text-shadow:1px 1px 0 white; -webkit-transition:all ease-in-out .3s; -moz-transition:all ease-in-out .3s; transition:all ease-in-out .3s; }
	#header > ul li a:hover			{ color:#222; }
	
	.logo a							{ font:3em Georgia, serif; color:#333; text-decoration:none; }

/** Footer enhancement **/

#footer 						{ border-top:1px dashed #aaa; border-bottom:8px solid #e6e6e6; color:#777;  }

/** Table enhancement **/
		table th	{ background-color:#D24738; background: rgb(210,71,56); background: -moz-linear-gradient(top,  rgba(239,119,0,1) 0%, rgba(229,87,0,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,119,0,1)), color-stop(100%,rgba(229,87,0,1))); background: -webkit-linear-gradient(top,  rgba(239,119,0,1) 0%,rgba(229,87,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(239,119,0,1) 0%,rgba(229,87,0,1) 100%); background: -ms-linear-gradient(top,  rgba(239,119,0,1) 0%,rgba(229,87,0,1) 100%); background: linear-gradient(top,  rgba(239,119,0,1) 0%,rgba(229,87,0,1) 100%); text-shadow:1px 1px 0 rgba(0,0,0,0.4); }

		th:first-child	{ border-top-left-radius:10px; }
		th:last-child	{ border-top-right-radius:10px; }
		
		table tr:nth-child(odd)			{ background: rgb(244,244,244); background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(236,236,236,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(236,236,236,1))); background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(236,236,236,1) 100%); background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(236,236,236,1) 100%); background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(236,236,236,1) 100%); background: linear-gradient(top, rgba(244,244,244,1) 0%,rgba(236,236,236,1) 100%); border-top:1px solid #aaa; }
		
		table					{ border-radius:10px; }
	 
		table td 				{ padding: 5px; padding: 10px 40px 10px 10px; }
		table th 				{ font-size: 0.857em; text-transform:uppercase; font-weight:bold; color:white; }
		table caption 			{ font-size:1.1em; }
	
		table td a				{ text-decoration:none; font-size: 0.857em; text-transform:uppercase; font-weight:bold; }
		
/** FRAMEWORK BUTTONS **/

	
form#search input[type="submit"],
input[type="submit"],
.button						{ padding:10px 12px; background-color:#D24738; background: rgb(210,71,56); background: -moz-linear-gradient(top,  rgba(239,119,0,1) 0%, rgba(229,87,0,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,119,0,1)), color-stop(100%,rgba(229,87,0,1))); background: -webkit-linear-gradient(top,  rgba(239,119,0,1) 0%,rgba(229,87,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(239,119,0,1) 0%,rgba(229,87,0,1) 100%); background: -ms-linear-gradient(top,  rgba(239,119,0,1) 0%,rgba(229,87,0,1) 100%); background: linear-gradient(top,  rgba(239,119,0,1) 0%,rgba(229,87,0,1) 100%); border:none; color:white; text-transform:uppercase; border-radius:6px; cursor:pointer; box-shadow:1px 1px 2px rgba(0,0,0,0.13); font-weight:bold; font-size:0.857em; text-shadow:1px 1px 1px rgba(0,0,0,0.3); 	 }

form#search input[type="submit"]:hover,
input[type="submit"]:hover,
.button:hover							{  background: rgb(216,58,58); background:-webkit-linear-gradient(top, rgba(229,87,0,1) 0%,rgba(209,77,0,1) 100%); background: -o-linear-gradient(top, rgba(229,87,0,1) 0%,rgba(209,77,0,1) 100%); background: linear-gradient(top, rgba(229,87,0,1) 0%,rgba(209,77,0,1) 100%); background: -moz-linear-gradient(top, rgba(229,87,0,1) 0%, rgba(209,77,0,1) 100%); }

form#search input[type="submit"]:active,
input[type="submit"]:active,
.button:active							{ box-shadow:2px 2px 4px rgba(0,0,0,0.5) inset; }

.gels-form-idle input.gels-button { padding: 4px 10px!important; }

.button.glossy, input.glossy			{ border-radius:50px; border:1px solid #994343; box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset, 1px 1px 2px rgba(0,0,0,0.13); text-shadow:1px 1px 3px rgba(0,0,0,0.4); text-transform:none; font-weight:bold; font-size:1em;   }

/** FRAMEWORK INPUTS **/

input, textarea								{ padding:10px 12px; border:1px solid #e1e1e1; border-radius:6px; }

label em	{ display:block; clear:both; font-size:0.857em; font-family:georgia, serif; }

form ol li input[type="submit"]		{ margin-left:31%; }

input.rounded						{ border:none; border:1px solid #e1e1e1; border-radius:50px; padding: 5px 10px; font-size:0.9em; text-transform:none;  }