.text_align_left {text-align:left;}
.text_align_right {text-align:right;}
.text_align_center {text-align:center;}
.indent {margin-left:20px;}
.indent2 {margin-left:40px;}
strong {font-weight:bold;}
em {font-style:italic;}
.underline_text {text-decoration:underline;}
.strikethrough_text {text-decoration:line-through;}
.superscript_text {vertical-align:super;}
.subscript_text {vertical-align:sub;}
.float_left {float:left;}
.float_right {float:right;}
.image_centre { margin:0 auto; display:block; }

td.highlightCell {background:#cfc;}
tr.highlightRow td {background:#cfc;}
tr.zebra {background:#ffc;}
