#content .basic_form legend {font-size: 1.5em; font-weight:normal; color: #000; }
#content .basic_form fieldset { padding: 16px; border: 3px solid #e5e5e5; margin:0 0 22px 0; }

#content .basic_form p { clear:both; margin: 0; padding:20px 0; border-bottom: 1px solid #e5e5e5; }
#content label { font-weight: normal; font-size: 1.2em;  margin: 2px 16px 0 0; text-align: right; width:35%; display:block; float:left; }
#content .basic_form p:last-child {border: none;}

#content .basic_form input.field, #content .basic_form select.select, #content .basic_form textarea.field, .search_az input.field { font-size: 1.2em; width: 44%; padding: 4px 5px; font-family:'Lucida grande', Verdana, Helvetica, Arial, sans-serif; border-top: 1px solid #333; border-right: 1px solid #333; border-bottom: 1px solid #777; border-left:1px solid #777;}
#content .basic_form input.field:focus, #content .basic_form select.select:focus, #content .basic_form input.dob:focus, #content .basic_form textarea.field:focus, .search_az input.field:focus {color: #000; border: 1px solid #000; outline: 3px solid #a89d1a;}

.search_az input.field {width: 60%; margin-right: 12px;}

#content .basic_form select.select { width: auto; padding: 3px 3px; background: #fff;}

#content .basic_form input.dob {width: 42%; color: #333; font-size: 1em; padding: 4px 5px; font-family:'Lucida grande', Verdana, Helvetica, Arial, sans-serif; border-top: 1px solid #333; border-right: 1px solid #333; border-bottom: 1px solid #777; border-left:1px solid #777;}
#content .basic_form label.dobLabel {  display: inline; width: 10%; margin: 0 16px 0 0; text-align: left; }
#content .basic_form p.date_birth { overflow: auto; float: left; width: 100%; }

#content .basic_form p.form_text label {text-align: left; width:100%; font-size: 1em; }
#content .basic_form p.form_text {font-size: 1.2em;  border: none;}
#content .basic_form p.centre { width: auto; padding: 22px 0; text-align: center; }

/* ########################################## Buttons */
#mast input.button, .basic_form input.button, #content .xform input.button
{font-size: 1.5em; padding:2px 4px 1px 4px; border:none; font-weight: normal;border: 1px solid #000; background: #333; text-transform: uppercase; color: #fff; font-weight:normal; cursor: pointer; }

#mast form input.button:hover, #content .basic_form input.button:hover, #content .xform input.button:hover { cursor: pointer; background: #000; border-color: #333; }
#mast form input.button:focus, #content .basic_form input.button:focus, #content .xform input.button:focus { cursor: pointer; background: #333; outline: 3px solid #a89d1a; color: #fff;}

#content .basic_form input.button[class] { /* IE ignores [class] */
    width: auto; /* cancel margin fix for other browsers */ }

#content input.yesbutton { font-size: 1.1em; padding:1px 2px; border:none; border: 1px solid #000; background: #b7151e; color: #fff; font-weight:normal; cursor: pointer; margin: 0 22px 0 0; }

#content input.nobutton { font-size: 1.1em; padding:1px 2px; border:none; border: 1px solid #363; background: #333; color: #fff; font-weight:normal; cursor: pointer; }

/* ########################################## Errors and warnings */
#content h2.warning { color: #fff; background: #900; margin:0 0 20px 0; padding: 5px 12px; font-family: georgia, 'times new roman', times, serif; font-size: 1.8em; font-weight: normal;}
#content p.warning { color: #900; font-size: 1.3em; margin:0 0 1em 0; padding: 0 0 16px 0; font-family: georgia, 'times new roman', times, serif; }

#content form label strong { color: #900;}
#content .basic_form input.warning, #content .basic_form select.warning, #content .basic_form textarea.warning { border: 1px solid #900; }

/* ########################################## Sign-in */
#content .basic_form .signin legend { text-align: center; }

/* ########################################## Site settings */
#content .basic_form fieldset.settingsText p { overflow: auto; padding: 14px 0 22px 0; border: none; }
#content .basic_form fieldset.settingsText label { width:auto; display:block; float:left; }
#content .basic_form fieldset.settingsText .select { font-size: 1em; margin-right: 22px;}

#content .basic_form fieldset.settingsColours label { width: 28%; padding: 16px 8px;text-align: center; border: 1px solid #ccc; }

#content #preview_box { border: 1px solid #ccc; padding: 12px;  }
#content #preview_box img { float: right; padding: 0 0 12px 20px; }

/* ########################################## Advanced search */
.basic_form p#search_checkbox { overflow: auto; padding-left: 250px; }
.basic_form p#search_checkbox label { text-align: left; }


/* ########################################## Extra for news */
#content .basic_form.newsForm { display: block; margin: 10px 0 25px 0; padding:0; }
#content .basic_form.newsForm label {  text-align: left; width: 90%; }
#content .basic_form.newsForm p { border: none; padding:0; margin:0; overflow: auto;}
#content .basic_form.newsForm input.button { font-size: .9em; }
#content .basic_form.newsForm select.select { font-size: 1em; padding: 1px; }

/* Site settings */
#content .basic_form fieldset.settingsText p { overflow: auto; padding: 14px 0 22px 0; }
#content .basic_form fieldset.settingsText label { width:auto; display:block; float:left; }
#content .basic_form fieldset.settingsText .select { font-size: 1em; margin-right: 22px;}

#content .basic_form fieldset.settingsColours label { width: 28%; padding: 10px 8px;text-align: center; border: 1px solid #ccc; }
#content #preview_box { border: 1px solid #ccc; padding: 12px;  }
#content #preview_box img { float: right; padding: 0 0 12px 20px; }

/* ############################################################# Xforms */
#content #progressbar {height:22px; width: 100%; padding:0; margin: 0 0 22px 0; background:#fff; }
#content #progressbar img {height: 22px;}

#content .xform p { color: #a89d1a; }
#content .xform p.first { color: #333; }
#content .xform h3 { margin: 0; }

#content .xform label strong, #content .xform span.label strong { color: #900;}

#content .xform label, #content .xform span.label { font-size: 1.2em; margin:0; padding:2px 0 4px 0; width:auto; display:block; float:none; text-align: left; color: #000;}
#content .xform label em { font-style: normal ; }

#content .xform input, .xform select, .xform textarea { color: #333; font-size: 1.2em; width: 56%; padding: 4px 5px; font-family:'Lucida grande', Verdana, Helvetica, Arial, sans-serif; border-top: 1px solid #333; border-right: 1px solid #333; border-bottom: 1px solid #777; border-left:1px solid #777;}
#content .xform input:focus, .xform select:focus, .xform textarea:focus {color: #000; border: 1px solid #000; outline: 3px solid #a89d1a;}

#content .xform input.checkbox, #content .xform input.radio { width: auto; border: none;}
#content .xform radio:focus, #content .xform input.checkbox:focus {outline: none; }

#content .xform span.help { display:block; color: #518d30; padding: 0 0 5px 0;}
#content .xform .display_box { padding: 10px 15px;margin: 10px 0}
#content .xform .display_box p { border:none; padding:0; background: none; color: #333; }

#content .xform input.button {width:auto;}

