#content label, #content span.label 	{ font-weight: normal; font-size: 1em; color: #000; margin: 0 15px; vertical-align: top; width:25%; display:block; float:left;  }
#mast input.field, 
#content input.field, 
select, textarea 						{ width: 55%; border: 1px solid #999; font-family: verdana, helvetica, arial, san-serif; font-size:1em; }
#content input 							{ vertical-align: middle; }
#content input.disabled 				{ background: #ddd; }
#mast input.button, 
#content input.button 					{ border: 1px solid #999; background: #ddd; color: #000; font-size:1.1em; font-weight:bold; }
#content fieldset 						{ padding: 10px 0; border: none; margin:0 0 15px 0; }

input[type="radio"]						{ margin-right:10px; }

form ol.dateOfBirth						{ overflow:auto; margin:0; }
form ol.dateOfBirth li					{ width:90px; margin-right:10px; float:left; clear:none; }
form ol.dateOfBirth li input			{ width:29px; }
form ol.dateOfBirth li input#dob_year	{ width:38px; }

#content form ol	{ list-style:none; }

#content form.signin fieldset 			{ padding:0; }

#content ol li.center 					{ text-align: center; }

#content legend 						{ font-size: 1.3em; font-family: helvetica, verdana, arial, san-serif; font-weight:bold; padding-bottom:.58em; }
#content .basic_form 					{ margin: 10px 0; clear:both; }

#content h2.warning, 
#content form label strong,  
#content span.label strong 				{ color: #f00; }
#content h2.warning strong 				{ color: #333; }
#content label em 						{ font-style: italic; color: #666; }

#content #progressbar 					{ height:10px; padding: 1px; border: 1px solid #ccc; width: 500px; background: #fff; position: relative; }
#content #progressbar img 				{ height: 10px; position: absolute;}

#content .basic_form #search_checkbox label { text-align: left; }

/* xforms styles */
#content .xform p 						{ color: #555; }
#content .xform p br 					{ display: none; }
#content .xform label, 
#content .xform span.label 				{ clear:both; margin: 0 0 5px 0; width: auto; float: none; text-align: left; }
#content .xform input, 
.xform select, 
.xform textarea 						{ margin:5px 0; width: 350px; border: 1px solid #999; font-family: verdana, helvetica, arial, san-serif; font-size:1em; }
#content .xform input.checkbox, 
#content .xform input.radio 			{ width: auto; }
#content .xform input.button 			{ margin: 0; width:auto; border: 1px outset #000; }
#content .xform span.help, 
#content .basic_form p em.help 			{ margin-top: 5px; display:block; font-size: 0.9em; font-style: normal; background: url(../css_img/50.png) no-repeat left 3px; padding-left: 13px; color: #555; } 
#content .xform .lead_item 				{ background: #f3f3f3; padding: 10px 15px; border: 1px solid #ddd; margin: 10px 0; }
#content .xform .lead_item p 			{ border:none; padding:0; }

/* used in directories submission */
#content .basic_form div.googleMap 					{ margin: 0 auto; }
#content .basic_form div.googleMap table img 		{ vertical-align: top; }
#content .basic_form div.googleMap table 			{ margin:0; }

/* multioption form elements - radio/checkbox */
#content .basic_form span.radioButtons 				{ margin-left:16px; width: 55%; display:block; float: left; } 
#content .basic_form span.radioButtons label 		{ float:none; margin: 0; clear:both; text-align: left; width: auto; }
#content .basic_form span.radioButtons label input 	{ float:none; width: auto; border:none; margin: 0; padding:0; }

#content .basic_form .dob 							{ width: 20%; border: 1px solid #999; font-family: verdana, helvetica, arial, san-serif; font-size:1em; }
.userSettings span  								{ border: 1px solid #ccc; padding: 1px; display: block; float: left; width: 200px; background: #fff; margin:0 5px 5px 0; }
#content .basic_form fieldset.userSettings span label 	{ text-align: left; float: none; width: auto; margin: 0; font-size: 1.1em; }

fieldset.userSettings span.clear 					{ border: none; padding: 0; display: block; float: none; width: auto; background: none; }

#content .basic_form p.form_text label 				{ display:block; float:none; width: auto; text-align: left; padding:10px 0 0 50px; }

#content .basic_form p input.checkbox, 
#content .basic_form p input.radio 					{ margin:0 15px; }
#content .basic_form p span.radioQuestion  			{ width:25%; display:block; float:left; text-align:right; margin-left:15px; }
#content .basic_form p span.radioAnswers, 
#content .basic_form p span.dobAnswers 				{ width:auto; display:block; float:left; margin-left:15px; }
#content .basic_form p span label.radio 			{ width:auto; clear:left; margin-left:0; margin-bottom:2px; }
#content .basic_form p span label.radio input 		{ margin:0 2px 2px 0; }
#content .basic_form p span.dobAnswers label.dobLabel 		{ text-align:left; width:auto; margin:0 20px 3px 0; }
#content .basic_form p span.dobAnswers label.dobLabel input { width:auto; clear:none; float:left; margin:0 5px 0 0; }
#content .basic_form p span.appTip 					{ clear:both; font-style:italic; float:left; padding-left:25%; margin-left:30px; }
#content .basic_form .button.smallButton 			{ font-size:.9em; float:right; }
#content div.ref_column 							{ margin-bottom:15px; }
#content div.ref_column strong 						{ font-weight:bold; }

#content .xform table td 							{ overflow: hidden; }
#content .xform table input,
#content .xform table textarea,
#content .xform table select 						{ margin:0; width: 90%; }

.prefContrast 						{ background:#000; float:left; padding:10px; padding-left:0; border-radius:8px; }
.prefCream 							{ background:#fff9d2; color:#010066; float:left; padding:10px; padding-left:0; border-radius:8px; }
.prefBlue 							{ background:#9fcfff; color:#010066; float:left; padding:10px; padding-left:0; border-radius:8px; }

#content .prefContrast label 		{ color: #fff; width:80%; }
#content .prefCream label			{ width:80%; }
#content .prefBlue label			{ width:80%; }




