<link href="https://customer.cludo.com/css/{{ customerId }}/{{ engineId }}/cludo-search.min.css" type="text/css" rel="stylesheet">

<div id="cludo-search-form">
    <div id="search-site">
        <input
                type="text"
                size="18"
                maxlength="255"
                name="searchrequest"
                class="search-input field"
                title="Search"
                autocomplete="off"
                id="cludo-search-form-input"
                placeholder="Search for it ..."
        >
        <button type="button" class="search-button" title="Search">
            <img src="https://customer.cludo.com/img/search-icon.png" width="20px">
        </button>
    </div>
</div>
